Repository E3SM-Project/scream, pull requests merged in 2020-08, with the labels that each got.

#490 Fix white non bfb
  components/cam/src/physics/cam/bfb_math.inc
  components/cam/src/physics/cam/micro_p3.F90
  components/scream/src/physics/p3/micro_p3_iso_f.f90
  components/scream/src/physics/p3/p3_functions_f90.cpp
  components/scream/src/physics/p3/p3_functions_f90.hpp
  components/scream/src/physics/share/physics_share.cpp
  components/scream/src/physics/share/physics_share.hpp
  components/scream/src/physics/share/physics_share_f2c.F90
Labels: Non-B4B

#488 Removing dummy variables to match arguments for p3_main
  components/cam/src/physics/cam/micro_p3_interface.F90
Labels: AT: AUTOMERGE, B4B, bugfix, p3

#481 Adds functionality to call fortran subroutine for vertflux property test
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_vertflux_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#483 Fixing issues with EkatDisableAllWarning
  components/scream/ekat/cmake/EkatSetCompilerFlags.cmake
  components/scream/ekat/cmake/EkatUtils.cmake
Labels: AT: AUTOMERGE, cmake

#491 Adds property test and boiler plate code for SHOC covariance/variance subroutine
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_varorcovar_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#495 SCREAM: fixes in qv_sat function
  components/scream/src/physics/p3/p3_ice_cldliq_wet_growth_impl.hpp
  components/scream/src/physics/p3/p3_main_impl.hpp
  components/scream/src/physics/share/CMakeLists.txt
  components/scream/src/physics/share/physics_functions.hpp
  components/scream/src/physics/share/physics_saturation.cpp
  components/scream/src/physics/share/physics_saturation_impl.hpp
  components/scream/src/physics/share/tests/physics_saturation_unit_tests.cpp
Labels: AT: AUTOMERGE, B4B, bugfix, physics

#496 Property tests for SHOC TKE lower level functions
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_eddy_diffusivities_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_adv_sgs_tke_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_column_stab_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_isotropic_ts_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_shr_prod_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#500 Disable the build of the stand-alone scorpio test during CIME build.
  components/scream/src/mct_coupling/CMakeLists.txt
Labels: AT: AUTOMERGE, B4B, CI: Integrate Without Testing, bug, testing

#501 porting diag_second_moments_srf function
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/share/physics_constants.hpp
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_diag_second_moments_srf.cpp
  components/scream/src/physics/shoc/shoc_diag_second_moments_srf_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_diag_second_mom_srf_test.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, Non-B4B, shoc

#507 Fix scream buildnml to allow keeping existing files
  components/scream/cime_config/buildnml
Labels: AT: AUTOMERGE

#497 Property tests for SHOC Length Scale lower level functions
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_brunt_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_check_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_conv_time_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_conv_vel_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_l_inf_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_mix_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_shr_prod_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#511 bug fix for SHOC, inconsistent dimensions into energy fixer for zi_grid
  components/cam/src/physics/cam/shoc.F90
Labels: AT: AUTOMERGE, B4B, bug, shoc

#508 Update remainder of SHOC cpp test files to reflect new paradigm
  components/scream/src/physics/shoc/tests/shoc_brunt_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_check_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_conv_time_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_conv_vel_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_eddy_diffusivities_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_grid_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_l_inf_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_mix_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_adv_sgs_tke_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_column_stab_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_isotropic_ts_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_shr_prod_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
  components/scream/src/physics/shoc/tests/shoc_varorcovar_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#469 Adds a test for checking negatives and NaNs in the temperature field in qv_sat (C++)
  components/cam/src/physics/cam/bfb_math.inc
  components/scream/src/physics/p3/p3_functions.hpp
  components/scream/src/physics/p3/p3_ice_cldliq_wet_growth_impl.hpp
  components/scream/src/physics/p3/p3_ice_collection_impl.hpp
  components/scream/src/physics/p3/p3_ice_melting_impl.hpp
  components/scream/src/physics/p3/p3_main_impl.hpp
  components/scream/src/physics/p3/p3_prevent_ice_overdepletion_impl.hpp
  components/scream/src/physics/share/physics_functions.hpp
  components/scream/src/physics/share/physics_saturation_impl.hpp
  components/scream/src/physics/share/tests/physics_saturation_unit_tests.cpp
Labels: AT: AUTOMERGE, B4B, p3

#512 fix the script variable rename bugs in state%pdel and sflxnam
  components/cam/bld/build-namelist
  components/cam/bld/namelist_files/namelist_defaults_cam.xml
  components/cam/bld/namelist_files/namelist_definition.xml
  components/cam/src/physics/cam/micro_p3_interface.F90
Labels: AT: AUTOMERGE, B4B, bugfix, p3

#515 SCREAM: fix build parallel level for ctest
  components/scream/cmake/ctest_script.cmake
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE, B4B, testing

#516 Jgfouca/duplicate xyuan
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/share/physics_constants.hpp
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_diag_second_moments_srf.cpp
  components/scream/src/physics/shoc/shoc_diag_second_moments_srf_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_diag_second_mom_srf_test.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE

#518 Cleanup diag second mom srf conversion a bit
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/tests/shoc_brunt_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_diag_second_mom_srf_test.cpp
Labels: AT: AUTOMERGE

#513 SHOC property tests related to energy checker/fixer
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_energy_dse_fixer_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_integral_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_threshold_fixer_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_total_fixer_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_update_dse_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#522 Add property tests for SHOC linear interpolation routine
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_linearinterp_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#521 Exorcise wtracer_sec from SHOC code
  components/cam/src/physics/cam/shoc.F90
Labels: AT: AUTOMERGE, B4B, shoc

#523 Adjust F2000-SCREAM-SA nightly test to only use 96 cores.
  cime_config/tests.py
Labels: AT: AUTOMERGE, B4B, CI: Integrate Without Testing, bugfix, testing

#530 Add macro to set number of vertical levels
  components/scream/CMakeLists.txt
  components/scream/cime_config/config_component.xml
  components/scream/src/mct_coupling/CMakeLists.txt
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/scream_config.h.in
Labels: AT: AUTOMERGE, B4B
