Repository E3SM-Project/scream, pull requests merged in 2020-09, with the labels that each got.

#532 porting diag_second_moments_ubycond
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_diag_second_moments_ubycond.cpp
  components/scream/src/physics/shoc/shoc_diag_second_moments_ubycond_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_diag_second_mom_ubycond_test.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc

#534 Removes F2000-SCREAM-SA from list of nightly test suites.
  cime_config/tests.py
Labels: AT: AUTOMERGE, B4B, CI: Integrate Without Testing, testing

#540 Added machine file instructions to docs/build.md.
  components/scream/docs/build.md
Labels: AT: AUTOMERGE, CI: Integrate Without Testing, documentation

#509 Update ftype and IMEX scheme for SCREAM compsets
  components/cam/bld/namelist_files/use_cases/2000_scream_hr.xml
  components/cam/bld/namelist_files/use_cases/2000_scream_lr.xml
  components/cam/bld/namelist_files/use_cases/2010_scream_hr.xml
  components/cam/bld/namelist_files/use_cases/2010_scream_lr.xml
Labels: AT: STALE

#542 SHOC property tests for lower level Assumed PDF functions
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_grid_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_compute_buoyflux_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_compute_cloudvar_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_compute_liqflux_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_compute_qs_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_compute_s_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_compute_sgsliq_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_computetemp_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_inplume_corr_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_qw_parameters_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_thl_parameters_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_tildatoreal_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_vv_parameters_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#543 improve database baseclass
  components/cam/src/physics/cam/micro_p3.F90
  components/scream/src/physics/p3/p3_cloud_sed_impl.hpp
  components/scream/src/physics/p3/p3_functions_f90.cpp
  components/scream/src/physics/p3/p3_functions_f90.hpp
  components/scream/src/physics/p3/tests/p3_check_values_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_cloud_sed_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_get_latent_heat_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_ice_sed_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_main_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_rain_sed_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_upwind_unit_tests.cpp
  components/scream/src/physics/share/CMakeLists.txt
  components/scream/src/physics/share/physics_only_grids_manager.cpp
  components/scream/src/physics/share/physics_test_data.cpp
  components/scream/src/physics/share/physics_test_data.hpp
  components/scream/src/physics/share/tests/CMakeLists.txt
  components/scream/src/physics/share/tests/physics_test_data_unit_tests.cpp
  components/scream/src/physics/share/tests/physics_unit_tests_common.hpp
  components/scream/src/physics/shoc/shoc_diag_second_moments_srf_impl.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/tests/shoc_conv_time_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_diag_second_mom_srf_test.cpp
  components/scream/src/physics/shoc/tests/shoc_diag_second_mom_ubycond_test.cpp
  components/scream/src/physics/shoc/tests/shoc_vertflux_tests.cpp
Labels: infrastructure, physics, testing

#559 Fix `get_cloud_dsd2` warning in P3
  components/scream/cmake/ScreamUtils.cmake
  components/scream/src/physics/p3/p3_dsd2_impl.hpp
  components/scream/src/physics/p3/p3_functions.hpp
Labels: AT: AUTOMERGE, B4B, bugfix, p3

#570 Another upgrade/update to testing pattern
  components/scream/src/physics/p3/p3_functions_f90.hpp
  components/scream/src/physics/p3/tests/p3_get_latent_heat_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_main_unit_tests.cpp
  components/scream/src/physics/share/physics_test_data.cpp
  components/scream/src/physics/share/physics_test_data.hpp
  components/scream/src/physics/share/tests/physics_test_data_unit_tests.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/tests/shoc_brunt_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_check_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_conv_time_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_conv_vel_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_diag_second_mom_ubycond_test.cpp
  components/scream/src/physics/shoc/tests/shoc_eddy_diffusivities_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_dse_fixer_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_integral_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_threshold_fixer_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_total_fixer_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_update_dse_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_grid_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_l_inf_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_linearinterp_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_mix_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_compute_buoyflux_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_compute_cloudvar_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_compute_liqflux_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_compute_qs_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_compute_s_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_compute_sgsliq_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_computetemp_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_inplume_corr_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_qw_parameters_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_thl_parameters_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_tildatoreal_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_vv_parameters_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_adv_sgs_tke_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_column_stab_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_isotropic_ts_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_shr_prod_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_varorcovar_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_vertflux_tests.cpp
Labels: AT: AUTOMERGE

#558 SHOC bug fix, dimensions of zi_grid corrected in length scale routine
  components/cam/src/physics/cam/shoc.F90
Labels: AT: AUTOMERGE, B4B, bugfix, shoc

#551 Property tests for SHOC third moment lowest level functions
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_aa_diag_third_moms_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_clip_third_moms_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_fterm_diag_third_moms_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_fterm_input_third_moms_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_omega_diag_third_moms_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
  components/scream/src/physics/shoc/tests/shoc_w3_diag_third_moms_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_xy_diag_third_moms_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#557 Property tests for SHOC TKE related upper level functions
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_check_tke_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#573 SHOC property test for upper level Length Scale function
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#541 porting calc_shoc_varorcovar
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_calc_shoc_varorcovar.cpp
  components/scream/src/physics/shoc/shoc_calc_shoc_varorcovar_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_varorcovar_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#553 port update_host_dse
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/shoc_update_host_dse.cpp
  components/scream/src/physics/shoc/shoc_update_host_dse_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_energy_update_dse_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#577 SHOC property tests for mid and upper level functions for Third Moments
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_compute_diag_third_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_diag_third_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#591 Adds shoc_constants file
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_constants.hpp
Labels: AT: AUTOMERGE, B4B, shoc

#588 Both Shoc and P3 now call Murphy Koop
  components/cam/src/physics/cam/micro_p3.F90
  components/cam/src/physics/cam/shoc.F90
  components/cam/src/physics/cam/wv_sat_scream.F90
  components/scream/src/physics/p3/CMakeLists.txt
  components/scream/src/physics/share/CMakeLists.txt
  components/scream/src/physics/share/physics_functions.hpp
  components/scream/src/physics/share/physics_saturation_impl.hpp
  components/scream/src/physics/share/tests/physics_saturation_unit_tests.cpp
Labels: Non-B4B, p3, shoc

#601 SHOC bug fix for Murphy/Koop implementation (and unrelated property test fix)
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/tests/shoc_pdf_compute_liqflux_tests.cpp
Labels: AT: AUTOMERGE, Non-B4B, bugfix, shoc, testing

#597 The AtmosphereProcess abstract class now maintains a timestamp.
  components/scream/src/control/tests/dummy_atm_proc.hpp
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.hpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.hpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/src/share/atm_process/atmosphere_process.hpp
  components/scream/src/share/atm_process/atmosphere_process_group.cpp
  components/scream/src/share/atm_process/atmosphere_process_group.hpp
  components/scream/src/share/tests/atm_process_tests.cpp
  components/scream/src/share/util/scream_time_stamp.hpp
Labels: AT: AUTOMERGE, Atmosphere Driver

#594 redo the porting of pblintd_init_pot function
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/shoc_pblintd_init_pot.cpp
  components/scream/src/physics/shoc/shoc_pblintd_init_pot_impl.hpp
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_pblintd_init_pot_test.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc

#603 SCREAM: fix setup_mach_env in scripts folder
  components/scream/scripts/machines_specs.py
Labels: AT: AUTOMERGE, bugfix, testing

#586 SHOC property tests for upper level energy checker function
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_energy_dse_fixer_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_fixer_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_integral_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_total_fixer_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#595 P3 Bugfixes: p3_main_part3 ice should be incld and calc_bulkRhoRime should update cell-aves
  components/cam/src/physics/cam/micro_p3.F90
  components/scream/src/physics/p3/micro_p3_iso_c.f90
  components/scream/src/physics/p3/micro_p3_iso_f.f90
  components/scream/src/physics/p3/p3_functions.hpp
  components/scream/src/physics/p3/p3_functions_f90.cpp
  components/scream/src/physics/p3/p3_functions_f90.hpp
  components/scream/src/physics/p3/p3_ice_sed_impl.hpp
  components/scream/src/physics/p3/p3_main_impl.hpp
  components/scream/src/physics/p3/tests/p3_main_unit_tests.cpp
Labels: bugfix, p3

#579 port compute_shoc_mix_shoc_length
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_compute_shoc_mix_shoc_length.cpp
  components/scream/src/physics/shoc/shoc_compute_shoc_mix_shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_mix_length_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#612 change quartz back to broadwell
  components/scream/cmake/machine-files/quartz.cmake
Labels: AT: AUTOMERGE, B4B, CI: Integrate Without Testing, Machine File, bugfix

#554 P3 Bugfix: New rain evap impl
  components/cam/src/physics/cam/bfb_math.inc
  components/cam/src/physics/cam/micro_p3.F90
  components/cam/src/physics/cam/micro_p3_interface.F90
  components/scream/src/physics/p3/CMakeLists.txt
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/p3/micro_p3_iso_c.f90
  components/scream/src/physics/p3/micro_p3_iso_f.f90
  components/scream/src/physics/p3/p3_evaporate_rain.cpp
  components/scream/src/physics/p3/p3_evaporate_rain_impl.hpp
  components/scream/src/physics/p3/p3_evaporate_sublimate_precip_impl.hpp
  components/scream/src/physics/p3/p3_f90.cpp
  components/scream/src/physics/p3/p3_f90.hpp
  components/scream/src/physics/p3/p3_functions.hpp
  components/scream/src/physics/p3/p3_functions_f90.cpp
  components/scream/src/physics/p3/p3_functions_f90.hpp
  components/scream/src/physics/p3/p3_ic_cases.cpp
  components/scream/src/physics/p3/p3_inputs_initializer.cpp
  components/scream/src/physics/p3/p3_main_impl.hpp
  components/scream/src/physics/p3/scream_p3_interface.F90
  components/scream/src/physics/p3/scream_p3_interface.hpp
  components/scream/src/physics/p3/tests/CMakeLists.txt
  components/scream/src/physics/p3/tests/p3_evaporate_rain_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_main_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_tests.cpp
  components/scream/src/physics/p3/tests/p3_unit_tests.cpp
  components/scream/src/physics/share/physics_share.cpp
  components/scream/src/physics/share/physics_share.hpp
  components/scream/src/physics/share/physics_share_f2c.F90
Labels: bugfix, p3

#584 P3 bugfix: removed multiplication of cdist1 and cdistr by cloud and rain fraction
  components/cam/src/physics/cam/micro_p3.F90
  components/scream/src/physics/p3/p3_dsd2_impl.hpp
  components/scream/src/physics/p3/p3_main_impl.hpp
Labels: AT: AUTOMERGE, bugfix, p3

#590 Ports check TKE subroutine
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_check_tke.cpp
  components/scream/src/physics/shoc/shoc_check_tke_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_check_tke_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_run_and_cmp.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#555 p3 variable rename for fortran and C++
  components/cam/src/physics/cam/micro_p3.F90
  components/cam/src/physics/cam/micro_p3_interface.F90
  components/cam/src/physics/cam/micro_p3_utils.F90
  components/cam/src/physics/cam/wv_sat_scream.F90
  components/scream/src/physics/p3/CMakeLists.txt
  components/scream/src/physics/p3/micro_p3_iso_c.f90
  components/scream/src/physics/p3/micro_p3_iso_f.f90
  components/scream/src/physics/p3/p3_calc_liq_relaxation_timescale_impl.hpp
  components/scream/src/physics/p3/p3_calc_rime_density_impl.hpp
  components/scream/src/physics/p3/p3_check_values_impl.hpp
  components/scream/src/physics/p3/p3_cldliq_imm_freezing_impl.hpp
  components/scream/src/physics/p3/p3_f90.cpp
  components/scream/src/physics/p3/p3_f90.hpp
  components/scream/src/physics/p3/p3_functions.hpp
  components/scream/src/physics/p3/p3_functions_f90.cpp
  components/scream/src/physics/p3/p3_functions_f90.hpp
  components/scream/src/physics/p3/p3_get_time_space_phys_variables_impl.hpp
  components/scream/src/physics/p3/p3_ic_cases.cpp
  components/scream/src/physics/p3/p3_ice_collection_impl.hpp
  components/scream/src/physics/p3/p3_ice_deposition_sublimation_impl.hpp
  components/scream/src/physics/p3/p3_ice_melting_impl.hpp
  components/scream/src/physics/p3/p3_ice_nucleation_impl.hpp
  components/scream/src/physics/p3/p3_ice_sed_impl.hpp
  components/scream/src/physics/p3/p3_impose_max_total_ni.cpp
  components/scream/src/physics/p3/p3_impose_max_total_ni_impl.hpp
  components/scream/src/physics/p3/p3_inputs_initializer.cpp
  components/scream/src/physics/p3/p3_main_impl.hpp
  components/scream/src/physics/p3/p3_prevent_ice_overdepletion_impl.hpp
  components/scream/src/physics/p3/p3_rain_imm_freezing_impl.hpp
  components/scream/src/physics/p3/p3_rain_sed_impl.hpp
  components/scream/src/physics/p3/p3_table3_impl.hpp
  components/scream/src/physics/p3/p3_table_ice_impl.hpp
  components/scream/src/physics/p3/p3_update_prognostics_impl.hpp
  components/scream/src/physics/p3/scream_p3_interface.F90
  components/scream/src/physics/p3/scream_p3_interface.hpp
  components/scream/src/physics/p3/tests/p3_calc_liq_relaxation_timescale_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_calc_rime_density_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_cldliq_imm_freezing_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_dsd2_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_ice_collection_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_ice_melting_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_ice_sed_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_ice_tables_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_main_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_prevent_ice_overdepletion_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_rain_imm_freezing_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_rain_sed_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_table3_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_unit_tests_common.hpp
  components/scream/src/physics/share/physics_constants.hpp
Labels: AT: AUTOMERGE, B4B, p3

#616 use bfb_square
  components/cam/src/physics/cam/shoc.F90
Labels: AT: AUTOMERGE, Non-B4B, shoc

#604 Make field repository a shared pointer in the AD
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/control/atmosphere_driver.hpp
Labels: AT: AUTOMERGE, Atmosphere Driver

#608 SHOC Implicit diffusion interface lower level property tests
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_impli_comp_tmpi_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_impli_dp_inverse_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_impli_sfc_fluxes_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_impli_srf_stress_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_impli_srf_tke_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#611 gen-boiler: new tool for generating boiler
  components/scream/scripts/gen-boiler
  components/scream/scripts/gen_boiler.py
  components/scream/scripts/utils.py
  components/scream/src/physics/p3/CMakeLists.txt
  components/scream/src/physics/p3/p3_functions.hpp
  components/scream/src/physics/p3/p3_functions_f90.cpp
  components/scream/src/physics/p3/p3_iso_c.f90
  components/scream/src/physics/p3/p3_iso_f.f90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/shoc_linear_interp.cpp
  components/scream/src/physics/shoc/shoc_linear_interp_impl.hpp
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_linear_interp_tests.cpp
Labels: AT: AUTOMERGE

#620 Updated build docs with new Kokkos directives.
  components/scream/docs/build.md
Labels: AT: AUTOMERGE, CI: Integrate Without Testing, documentation

#613 use bfb_* in various shoc.F90 functions
  components/cam/src/physics/cam/bfb_math.inc
  components/cam/src/physics/cam/shoc.F90
Labels: Non-B4B, shoc

#617 port clipping_diag_third_shoc_moments
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_clipping_diag_third_shoc_moments.cpp
  components/scream/src/physics/shoc/shoc_clipping_diag_third_shoc_moments_impl.hpp
  components/scream/src/physics/shoc/shoc_constants.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_clip_third_moms_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#619 SHOC Assumed PDF upper level property tests
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_assumed_pdf_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#625 P3 Bugfix: protect tau_r from div-by-zero
  components/cam/src/physics/cam/micro_p3.F90
  components/scream/src/physics/p3/p3_evaporate_rain_impl.hpp
Labels: AT: AUTOMERGE, B4B, bugfix, p3

#623 port compute_diag_third_shoc_moment
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_compute_diag_third_shoc_moment.cpp
  components/scream/src/physics/shoc/shoc_compute_diag_third_shoc_moment_impl.hpp
  components/scream/src/physics/shoc/shoc_constants.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_compute_diag_third_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#615 port shoc_energy_integrals
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_energy_integrals.cpp
  components/scream/src/physics/shoc/shoc_energy_integrals_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_energy_integral_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#628 Multiple groups for fields at field repo registration
  components/scream/src/share/field/field_repository.hpp
  components/scream/src/share/tests/field_tests.cpp
Labels: AT: AUTOMERGE, Atmosphere Driver, B4B, enhancement
