Repository E3SM-Project/scream, pull requests merged in 2020-10, with the labels that each got.

#632 use bfb function in lby_cond subroutine
  components/cam/src/physics/cam/shoc.F90
Labels: AT: AUTOMERGE, Non-B4B, shoc

#633 Jgfouca/convert linear interp
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_linear_interp_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_linear_interp_tests.cpp
Labels: AT: AUTOMERGE

#626 SHOC property tests for Monin Obukov length
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_diag_obklen_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#635 rename t_zerodegc to T_zerodegc
  components/scream/src/physics/p3/p3_calc_rime_density_impl.hpp
  components/scream/src/physics/p3/p3_cldliq_imm_freezing_impl.hpp
  components/scream/src/physics/p3/p3_ice_deposition_sublimation_impl.hpp
  components/scream/src/physics/p3/p3_main_impl.hpp
  components/scream/src/physics/p3/p3_rain_imm_freezing_impl.hpp
  components/scream/src/physics/p3/tests/p3_main_unit_tests.cpp
  components/scream/src/physics/share/physics_constants.hpp
Labels: AT: AUTOMERGE, B4B, p3

#631 SHOC bug fix for theta_v definition in PBL height routine
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_pblintd_init_pot_impl.hpp
Labels: AT: AUTOMERGE, Non-B4B, bugfix, shoc

#621 Added unit tests for grid classes.
  components/scream/src/share/grid/se_grid.cpp
  components/scream/src/share/grid/se_grid.hpp
  components/scream/src/share/tests/CMakeLists.txt
  components/scream/src/share/tests/grid_tests.cpp
Labels: AT: AUTOMERGE, Atmosphere Driver, B4B, testing

#643 Upgrade p3_run_and_cmp capabililities to support performance testing
  components/scream/src/physics/p3/tests/p3_run_and_cmp.cpp
Labels: AT: AUTOMERGE

#645 Fix conflict in phys_grid with nlthreads. Bugfix
  components/cam/src/physics/cam/phys_grid.F90
Labels: AT: AUTOMERGE, B4B, bug

#629 Default Autotester EKAT BFB
  components/scream/scripts/test_all_scream.py
  components/scream/src/physics/shoc/shoc_energy_integrals_impl.hpp
Labels: AT: AUTOMERGE, EKAT, testing

#647 bfb_sqrt
  components/cam/src/physics/cam/shoc.F90
Labels: AT: AUTOMERGE, Non-B4B, shoc

#638 port compute_conv_vel_shoc_length
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_compute_conv_vel_shoc_length.cpp
  components/scream/src/physics/shoc/shoc_compute_conv_vel_shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_conv_vel_length_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#644 Add project to LC machine file entries for nightly testing
  cime_config/machines/config_machines.xml
Labels: AT: AUTOMERGE, CI: Integrate Without Testing, Machine File

#640 Port 2 shoc_length functions
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_check_length_scale_shoc_length.cpp
  components/scream/src/physics/shoc/shoc_check_length_scale_shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_compute_brunt_shoc_length.cpp
  components/scream/src/physics/shoc/shoc_compute_brunt_shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_constants.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_brunt_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_check_length_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#651 perf-analysis update for scream
  components/cam/src/physics/cam/micro_p3.F90
  components/scream/scripts/perf-analysis
  components/scream/scripts/perf_analysis.py
  components/scream/src/physics/p3/p3_f90.cpp
  components/scream/src/physics/p3/p3_f90.hpp
  components/scream/src/physics/p3/p3_functions.hpp
  components/scream/src/physics/p3/p3_functions_f90.cpp
  components/scream/src/physics/p3/p3_functions_f90.hpp
  components/scream/src/physics/p3/p3_ic_cases.cpp
  components/scream/src/physics/p3/p3_iso_c.f90
  components/scream/src/physics/p3/p3_main_impl.hpp
  components/scream/src/physics/p3/scream_p3_interface.F90
  components/scream/src/physics/p3/tests/p3_run_and_cmp.cpp
  components/scream/src/share/scream_config.cpp
Labels: AT: AUTOMERGE

#649 bfb_*() calls for shoc_diag_obklen conversion
  components/cam/src/physics/cam/shoc.F90
Labels: AT: AUTOMERGE, Non-B4B, shoc

#641 SHOC property test cleanup
  components/scream/src/physics/shoc/shoc_constants.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/shoc_aa_diag_third_moms_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_assumed_pdf_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_brunt_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_check_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_check_tke_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_clip_third_moms_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_compute_diag_third_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_conv_time_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_conv_vel_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_diag_obklen_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_diag_third_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_eddy_diffusivities_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_dse_fixer_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_fixer_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_integral_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_threshold_fixer_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_total_fixer_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_energy_update_dse_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_fterm_diag_third_moms_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_fterm_input_third_moms_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_grid_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_impli_comp_tmpi_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_impli_dp_inverse_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_impli_sfc_fluxes_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_impli_srf_stress_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_impli_srf_tke_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_l_inf_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_linear_interp_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_mix_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_omega_diag_third_moms_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_compute_buoyflux_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_compute_qs_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_computetemp_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_qw_parameters_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_thl_parameters_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_adv_sgs_tke_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_column_stab_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_isotropic_ts_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_shr_prod_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_tke_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_varorcovar_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_vertflux_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_w3_diag_third_moms_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_xy_diag_third_moms_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#653 Add a simple field getter function to field repo.
  components/scream/src/share/field/field_repository.hpp
  components/scream/src/share/tests/field_tests.cpp
Labels: AT: AUTOMERGE, Atmosphere Driver, B4B, enhancement

#656 remove extra constant
  components/scream/src/physics/shoc/shoc_constants.hpp
Labels: AT: AUTOMERGE, shoc

#627 Port compute l inf shoc length
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_compute_l_inf_shoc_length.cpp
  components/scream/src/physics/shoc/shoc_compute_l_inf_shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_l_inf_length_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#654 bfb_pow
  components/cam/src/physics/cam/shoc.F90
Labels: Non-B4B, shoc

#659 Port shoc_diag_obklen
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_constants.hpp
  components/scream/src/physics/shoc/shoc_diag_obklen.cpp
  components/scream/src/physics/shoc/shoc_diag_obklen_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_diag_obklen_tests.cpp
Labels: AT: AUTOMERGE, AT: RETEST, B4B, shoc

#660 SHOC property tests for remaining second moment functions
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_diag_second_moments.cpp
  components/scream/src/physics/shoc/shoc_diag_second_moments_impl.hpp
  components/scream/src/physics/shoc/shoc_diag_second_moments_lbycond.cpp
  components/scream/src/physics/shoc/shoc_diag_second_moments_lbycond_impl.hpp
  components/scream/src/physics/shoc/shoc_diag_second_shoc_moments.cpp
  components/scream/src/physics/shoc/shoc_diag_second_shoc_moments_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_diag_second_mom_srf_test.cpp
  components/scream/src/physics/shoc/tests/shoc_diag_second_mom_ubycond_test.cpp
  components/scream/src/physics/shoc/tests/shoc_diag_second_moments_lbycond_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_diag_second_moments_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_diag_second_shoc_moments_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#642 Beydoun/prescribed ccn option new pr
  components/cam/bld/build-namelist
  components/cam/bld/namelist_files/namelist_defaults_cam.xml
  components/cam/bld/namelist_files/namelist_definition.xml
  components/cam/src/physics/cam/micro_p3.F90
  components/cam/src/physics/cam/micro_p3_interface.F90
  components/cam/src/physics/cam/micro_p3_utils.F90
  components/scream/src/physics/p3/p3_f90.cpp
  components/scream/src/physics/p3/p3_f90.hpp
  components/scream/src/physics/p3/p3_functions.hpp
  components/scream/src/physics/p3/p3_functions_f90.cpp
  components/scream/src/physics/p3/p3_functions_f90.hpp
  components/scream/src/physics/p3/p3_ice_nucleation_impl.hpp
  components/scream/src/physics/p3/p3_iso_c.f90
  components/scream/src/physics/p3/p3_iso_f.f90
  components/scream/src/physics/p3/p3_main_impl.hpp
  components/scream/src/physics/p3/p3_update_prognostics_impl.hpp
  components/scream/src/physics/p3/scream_p3_interface.F90
  components/scream/src/physics/p3/tests/p3_ice_nucleation_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_main_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_tests.cpp
  components/scream/src/physics/p3/tests/p3_unit_tests.cpp
Labels: AT: AUTOMERGE, B4B, p3

#673 Beydoun/prescribed ccn option new pr
  components/cam/bld/namelist_files/namelist_defaults_cam.xml
  components/cam/src/physics/cam/micro_p3.F90
  components/cam/src/physics/cam/micro_p3_interface.F90
  components/scream/src/physics/p3/p3_main_impl.hpp
  components/scream/src/physics/p3/tests/p3_run_and_cmp.cpp
Labels: p3

#674 porting function pblintd_cldcheck
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/shoc_pblintd_cldcheck.cpp
  components/scream/src/physics/shoc/shoc_pblintd_cldcheck_impl.hpp
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_pblintd_cldcheck_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc

#668 SCREAM: added support for mappy; removed support for bowman
  components/scream/cmake/machine-files/bowman.cmake
  components/scream/cmake/machine-files/mappy.cmake
  components/scream/scripts/jenkins/bowman_setup
  components/scream/scripts/jenkins/mappy_setup
  components/scream/scripts/machines_specs.py
Labels: AT: AUTOMERGE, B4B, CI: Integrate Without Testing, Machine File, cmake

#680 SCREAM: fix for mappy in machine_specs.py
  components/scream/scripts/machines_specs.py
Labels: AT: AUTOMERGE, CI: Integrate Without Testing, bugfix, testing

#535 Infrastructure for ZM interface with AD
  components/scream/src/physics/CMakeLists.txt
  components/scream/src/physics/zm/CMakeLists.txt
  components/scream/src/physics/zm/atmosphere_deep_convection.cpp
  components/scream/src/physics/zm/atmosphere_deep_convection.hpp
  components/scream/src/physics/zm/scream_zm_interface.F90
  components/scream/src/physics/zm/scream_zm_interface.hpp
  components/scream/src/physics/zm/zm_conv.F90
  components/scream/src/physics/zm/zm_inputs_initializer.cpp
  components/scream/src/physics/zm/zm_inputs_initializer.hpp
  components/scream/tests/CMakeLists.txt
  components/scream/tests/scream_zm/CMakeLists.txt
  components/scream/tests/scream_zm/input.yaml
  components/scream/tests/scream_zm/zm_stand_alone.cpp
Labels: Atmosphere Driver, ZM, enhancement, physics

#678 Remove surface emissions from F2010 SCREAM use_cases
  components/cam/bld/namelist_files/use_cases/2010_scream_hr.xml
  components/cam/bld/namelist_files/use_cases/2010_scream_hr_dyamond2.xml
  components/cam/bld/namelist_files/use_cases/2010_scream_lr.xml
  components/cam/bld/namelist_files/use_cases/2010_scream_lr_dyamond2.xml
Labels: AT: AUTOMERGE, B4B

#677 add pi to shoc.F90
  components/cam/src/physics/cam/shoc.F90
Labels: Non-B4B

#669 port shoc_length
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_compute_conv_time_shoc_length.cpp
  components/scream/src/physics/shoc/shoc_compute_conv_time_shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_compute_l_inf_shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/shoc_length.cpp
  components/scream/src/physics/shoc/shoc_length_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_conv_time_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_length_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#675 non-bfb changes for shoc_assumed_pdf porting
  components/cam/src/physics/cam/shoc.F90
Labels: AT: RETEST, Non-B4B, shoc

#667 port shoc_energy_fixer
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_energy_fixer.cpp
  components/scream/src/physics/shoc/shoc_energy_fixer_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_energy_fixer_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#681 Quick fix to timestamp.to_string() routine.
  components/scream/src/share/util/scream_time_stamp.cpp
Labels: AT: AUTOMERGE, Atmosphere Driver, B4B

#683 SHOC fix to feed updated water vapor to Obkuhov/PBL height routines
  components/cam/src/physics/cam/shoc.F90
Labels: AT: AUTOMERGE, Non-B4B, bugfix, shoc

#684 Prevent evaporate_rain from over-depleting qr
  components/cam/src/physics/cam/micro_p3.F90
  components/scream/src/physics/p3/p3_evaporate_rain_impl.hpp
  components/scream/src/physics/p3/tests/p3_evaporate_rain_unit_tests.cpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
Labels: Non-B4B, bugfix, p3

#686 Property test and boilerplate for compute_shoc_vapor subroutine
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_compute_shoc_vapor.cpp
  components/scream/src/physics/shoc/shoc_compute_shoc_vapor_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_compute_shoc_vapor_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#682 porting lbycond function
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_diag_second_moments_lbycond.cpp
  components/scream/src/physics/shoc/shoc_diag_second_moments_lbycond_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_diag_second_moments_lbycond_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc

#689 Minor P3 fixes from Koby
  components/cam/src/physics/cam/micro_p3.F90
  components/scream/src/physics/p3/p3_ice_sed_impl.hpp
  components/scream/src/physics/p3/p3_main_impl.hpp
Labels: bugfix, p3

#664 SHOC fix to apply tracer surface fluxes in sfc_flux routine
  components/cam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/shoc_impli_sfc_fluxes_tests.cpp
Labels: AT: AUTOMERGE, Non-B4B, bugfix, shoc, testing

#691 Simplified Field class and surrounding datatypes.
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/control/atmosphere_driver.hpp
  components/scream/src/control/tests/dummy_atm_proc.hpp
  components/scream/src/control/tests/dummy_atm_setup.hpp
  components/scream/src/control/tests/dummy_grid.hpp
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.hpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.hpp
  components/scream/src/physics/share/physics_only_grids_manager.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/src/physics/zm/atmosphere_deep_convection.cpp
  components/scream/src/physics/zm/atmosphere_deep_convection.hpp
  components/scream/src/share/atm_process/atmosphere_process.hpp
  components/scream/src/share/atm_process/atmosphere_process_dag.hpp
  components/scream/src/share/atm_process/atmosphere_process_group.cpp
  components/scream/src/share/atm_process/atmosphere_process_group.hpp
  components/scream/src/share/field/field.hpp
  components/scream/src/share/field/field_initializer.hpp
  components/scream/src/share/field/field_repository.hpp
  components/scream/src/share/grid/grids_manager.hpp
  components/scream/src/share/grid/remap/abstract_remapper.hpp
  components/scream/src/share/grid/remap/combo_remapper.hpp
  components/scream/src/share/grid/remap/identity_remapper.hpp
  components/scream/src/share/grid/remap/inverse_remapper.hpp
  components/scream/src/share/tests/atm_process_tests.cpp
  components/scream/src/share/tests/dummy_se_grid_remapper.hpp
  components/scream/src/share/tests/field_tests.cpp
Labels: AT: AUTOMERGE, Atmosphere Driver, B4B

#692 Big update to boiler plate
  components/scream/scripts/gen_boiler.py
  components/scream/src/physics/share/physics_test_data.cpp
  components/scream/src/physics/share/physics_test_data.hpp
  components/scream/src/physics/share/tests/physics_test_data_unit_tests.cpp
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/shoc_update_prognostics_implicit.cpp
  components/scream/src/physics/shoc/shoc_update_prognostics_implicit_impl.hpp
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
  components/scream/src/physics/shoc/tests/shoc_update_prognostics_implicit_tests.cpp
Labels: AT: AUTOMERGE

#670 port diag_third_shoc_moments
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_constants.hpp
  components/scream/src/physics/shoc/shoc_diag_third_shoc_moments.cpp
  components/scream/src/physics/shoc/shoc_diag_third_shoc_moments_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_diag_third_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#695 add bfb_erf
  components/eam/src/physics/cam/bfb_math.inc
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/share/physics_share.cpp
  components/scream/src/physics/share/physics_share.hpp
  components/scream/src/physics/share/physics_share_f2c.F90
Labels: Non-B4B, shoc

#697 PR 3897 from E3SM
  components/eam/src/chemistry/utils/mo_util.F90
  components/eam/src/chemistry/utils/read_volc_radiation_data.F90
  components/homme/src/share/compose_mod.F90
  components/homme/src/theta-l/share/imex_mod.F90
Labels: AT: AUTOMERGE, AT: RETEST

#702 Fix setting RUN_STARTDATE for SCREAM compsets
  components/eam/cime_config/config_compsets.xml
Labels: B4B

#661 Adding property checks to Fields.
  components/scream/src/share/field/field.hpp
  components/scream/src/share/field/field_monotonicity_check.hpp
  components/scream/src/share/field/field_positivity_check.hpp
  components/scream/src/share/field/field_property_check.hpp
  components/scream/src/share/field/field_within_interval_check.hpp
  components/scream/src/share/tests/field_tests.cpp
  components/scream/src/share/util/pointer_list.hpp
Labels: AT: AUTOMERGE, Atmosphere Driver, enhancement

#704 port shoc_assumed_pdf
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_assumed_pdf.cpp
  components/scream/src/physics/shoc/shoc_assumed_pdf_impl.hpp
  components/scream/src/physics/shoc/shoc_constants.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_assumed_pdf_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pdf_tildetoreal_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc

#705 Clean up max/min code
  components/scream/src/physics/shoc/shoc_check_length_scale_shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_compute_conv_time_shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_compute_shoc_mix_shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_diag_obklen_impl.hpp
Labels: AT: AUTOMERGE, B4B, code quality, shoc

#708 Port compute_shoc_vapor
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_compute_shoc_vapor.cpp
  components/scream/src/physics/shoc/shoc_compute_shoc_vapor_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/tests/shoc_compute_shoc_vapor_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#707 Change netcdf file type for DYAMOND SST file from netcdf4 to netcdf3
  components/eam/cime_config/config_compsets.xml
Labels: AT: AUTOMERGE, B4B

#687 Add routine to compute CAPE and CIN diagnostics
  components/eam/src/physics/cam/cam_diagnostics.F90
  components/eam/src/physics/cam/convect_shallow.F90
  components/eam/src/physics/cam/zm_conv_intr.F90
Labels: AT: AUTOMERGE, B4B
