Repository E3SM-Project/scream, pull requests merged in 2020-12, with the labels that each got.

#765 add bfb_ calls
  components/eam/src/physics/cam/shoc.F90
Labels: AT: AUTOMERGE, Non-B4B, shoc

#766 Ports compute_shr_prod using C++/Kokkos
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_compute_shr_prod.cpp
  components/scream/src/physics/shoc/shoc_compute_shr_prod_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_tke_shr_prod_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#760 Ports Shoc's isotropic_ts to C++/Kokkos
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_integ_column_stability_impl.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/shoc_isotropic_ts.cpp
  components/scream/src/physics/shoc/shoc_isotropic_ts_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_tke_isotropic_ts_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#772 Fix lassen machine spec to submit a longer job to regular queue
  components/scream/scripts/machines_specs.py
Labels: AT: AUTOMERGE, B4B, CI: Integrate Without Testing, Machine File, testing

#767 Adds some bfb function in shoc.F90
  components/eam/src/physics/cam/shoc.F90
Labels: AT: AUTOMERGE, Non-B4B, shoc

#764 Ports adv_sgs_tke subroutine
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_adv_sgs_tke.cpp
  components/scream/src/physics/shoc/shoc_adv_sgs_tke_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_tke_adv_sgs_tke_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#775 SCREAM: add options to test-all-scream for quick testing
  components/scream/cmake/ctest_script.cmake
  components/scream/scripts/test-all-scream
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE, scripts, testing

#773 Port 2 shoc functions
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_compute_diag_third_shoc_moment_impl.hpp
  components/scream/src/physics/shoc/shoc_eddy_diffusivities.cpp
  components/scream/src/physics/shoc/shoc_eddy_diffusivities_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_grid.cpp
  components/scream/src/physics/shoc/shoc_grid_impl.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_eddy_diffusivities_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_grid_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#769 FieldInitializer modifications
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.hpp
  components/scream/src/dynamics/homme/dynamics_driven_grids_manager.cpp
  components/scream/src/dynamics/homme/homme_inputs_initializer.cpp
  components/scream/src/dynamics/homme/homme_inputs_initializer.hpp
  components/scream/src/physics/p3/p3_inputs_initializer.cpp
  components/scream/src/physics/p3/p3_inputs_initializer.hpp
  components/scream/src/physics/zm/zm_inputs_initializer.cpp
  components/scream/src/physics/zm/zm_inputs_initializer.hpp
  components/scream/src/share/atm_process/atmosphere_process_dag.cpp
  components/scream/src/share/atm_process/atmosphere_process_group.cpp
  components/scream/src/share/field/field_initializer.hpp
  components/scream/src/share/field/field_repository.hpp
  components/scream/src/share/field/field_value_initializer.hpp
  components/scream/src/share/grid/grids_manager.hpp
  components/scream/src/share/tests/CMakeLists.txt
  components/scream/src/share/tests/atm_process_tests.cpp
  components/scream/src/share/tests/atm_process_tests.yaml
  components/scream/tests/scream_homme_dyn_ut_nlev72_qsize4/input.yaml
Labels: AT: AUTOMERGE, Atmosphere Driver, bugfix, enhancement

#778 redo the shoc_diag_second_shoc_moments porting
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_diag_second_shoc_moments_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/tests/shoc_diag_second_shoc_moments_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#779 Added a test fixture to p3 unit tests to generate rain tables.
  components/scream/src/physics/p3/tests/CMakeLists.txt
  components/scream/src/physics/p3/tests/p3_test_setup.cpp
Labels: p3, testing

#781 Adding some code comments to document AbstractRemapper interface methods
  components/scream/src/share/grid/remap/abstract_remapper.hpp
Labels: AT: AUTOMERGE, Atmosphere Driver, B4B, CI: Integrate Without Testing, documentation

#768 Port update_prognostics_implicit
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_update_prognostics_implicit.cpp
  components/scream/src/physics/shoc/shoc_update_prognostics_implicit_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_update_prognostics_implicit_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#784 SCREAM: bug fix in test-all-scream
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE, testing

#776 non-BFB pow function for fortran code
  components/eam/src/physics/cam/shoc.F90
Labels: AT: STALE, Non-B4B, shoc

#783 PBL height property tests
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_f90.cpp
  components/scream/src/physics/shoc/shoc_f90.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/shoc_pblintd.cpp
  components/scream/src/physics/shoc/shoc_pblintd_check_pblh.cpp
  components/scream/src/physics/shoc/shoc_pblintd_check_pblh_impl.hpp
  components/scream/src/physics/shoc/shoc_pblintd_impl.hpp
  components/scream/src/physics/shoc/shoc_pblintd_init.cpp
  components/scream/src/physics/shoc/shoc_pblintd_init_impl.hpp
  components/scream/src/physics/shoc/shoc_pblintd_surf_temp.cpp
  components/scream/src/physics/shoc/shoc_pblintd_surf_temp_impl.hpp
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_pblintd_check_pblh_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pblintd_cldcheck_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pblintd_height_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pblintd_init_pot_test.cpp
  components/scream/src/physics/shoc/tests/shoc_pblintd_init_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pblintd_surf_temp_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_pblintd_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc, testing

#802 SCREAM: fix to generation of ctest resource file
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE, bugfix, testing

#782 Allow AtmosphereProcess to expose dependency on field groups
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/control/atmosphere_driver.hpp
  components/scream/src/control/tests/CMakeLists.txt
  components/scream/src/control/tests/ad_tests.cpp
  components/scream/src/control/tests/ad_tests.yaml
  components/scream/src/control/tests/dummy_atm_proc.hpp
  components/scream/src/control/tests/dummy_atm_setup.hpp
  components/scream/src/control/tests/dummy_grid.hpp
  components/scream/src/control/tests/ping_pong.yaml
  components/scream/src/control/tests/ping_pong_test.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.hpp
  components/scream/src/share/atm_process/atmosphere_process.hpp
  components/scream/src/share/atm_process/atmosphere_process_dag.cpp
  components/scream/src/share/atm_process/atmosphere_process_dag.hpp
  components/scream/src/share/atm_process/atmosphere_process_group.cpp
  components/scream/src/share/atm_process/atmosphere_process_group.hpp
  components/scream/src/share/field/field.hpp
  components/scream/src/share/field/field_alloc_prop.cpp
  components/scream/src/share/field/field_alloc_prop.hpp
  components/scream/src/share/field/field_header.cpp
  components/scream/src/share/field/field_repository.hpp
  components/scream/src/share/grid/grids_manager.hpp
  components/scream/src/share/grid/remap/abstract_remapper.hpp
  components/scream/src/share/tests/atm_process_tests.cpp
  components/scream/src/share/tests/field_tests.cpp
Labels: AT: AUTOMERGE, Atmosphere Driver, bugfix, enhancement

#762 porting pblintd_init function
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/shoc_pblintd_init_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_pblintd_init_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_unit_tests_common.hpp
Labels: AT: AUTOMERGE, B4B, shoc

#806 SCREAM: allow user to have a local mach specs file
  components/scream/scripts/machines_specs.py
  components/scream/scripts/test-all-scream
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE, scripts, testing

#807 Standalone tests for key scream/scripts test infrastructure
  components/scream/CMakeLists.txt
  components/scream/scripts/machines_specs.py
  components/scream/scripts/scripts-tests
  components/scream/scripts/test_all_scream.py
  components/scream/scripts/utils.py
  components/scream/src/physics/p3/tests/p3_run_and_cmp.cpp
  components/scream/src/share/scream_config.hpp
  components/scream/src/share/tests/field_tests.cpp
Labels: AT: AUTOMERGE

#800 Port shoc_tke
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_adv_sgs_tke_impl.hpp
  components/scream/src/physics/shoc/shoc_compute_shr_prod_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/shoc_isotropic_ts_impl.hpp
  components/scream/src/physics/shoc/shoc_tke.cpp
  components/scream/src/physics/shoc/shoc_tke_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_tke_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#808 Update SCREAM repo's README.md file
  README.md
Labels: CI: Integrate Without Testing

#822 add bfb_square
  components/eam/src/physics/cam/shoc.F90
Labels: AT: AUTOMERGE, shoc

#820 bfb_pow for pblintd_height function
  components/eam/src/physics/cam/shoc.F90
Labels: Non-B4B, shoc

#825 Allow for bool randomization to be all true
  components/scream/src/physics/share/physics_test_data.cpp
  components/scream/src/physics/share/tests/physics_test_data_unit_tests.cpp
Labels: AT: AUTOMERGE

#826 Add some basic netcdf probing to scream CMakeLists.txt
  components/scream/CMakeLists.txt
Labels: AT: AUTOMERGE

#827 set initial pblh to zero to avoid uninitialization issue
  components/eam/src/physics/cam/shoc.F90
Labels: B4B, shoc

#824 redo porting of check_pblh function
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/shoc_pblintd_check_pblh_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_pblintd_check_pblh_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#805 Introduce new universal functions to physics
  components/scream/src/physics/p3/tests/p3_subgrid_variance_scaling_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_unit_tests.cpp
  components/scream/src/physics/share/CMakeLists.txt
  components/scream/src/physics/share/physics_constants.hpp
  components/scream/src/physics/share/physics_functions.hpp
  components/scream/src/physics/share/physics_universal.cpp
  components/scream/src/physics/share/physics_universal_impl.hpp
  components/scream/src/physics/share/tests/CMakeLists.txt
  components/scream/src/physics/share/tests/physics_saturation_unit_tests.cpp
  components/scream/src/physics/share/tests/physics_unit_tests_common.hpp
  components/scream/src/physics/share/tests/physics_universal_unit_tests.cpp
Labels: AT: AUTOMERGE, B4B, enhancement, physics

#842 Fixes to get screamV1 building through CIME.
  cime_config/machines/config_machines.xml
  components/CMakeLists.txt
  components/scream/cime_config/buildlib
  components/scream/cime_config/testdefs/testmods_dirs/scream/scream_example_testmod/shell_commands
  components/scream/cmake/tpls/CsmShare.cmake
  components/scream/cmake/tpls/Mct.cmake
  components/scream/src/mct_coupling/atm_comp_mct.F90
Labels: AT: AUTOMERGE

#832 redo the porting of pblintd_surf_temp function
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_pblintd_surf_temp_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_pblintd_surf_temp_tests.cpp
Labels: B4B, shoc

#821 porting pblintd_height function
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_pblintd_height_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_pblintd_height_tests.cpp
Labels: B4B, shoc

#844 Set up SCREAM_DYNAMICS_DYCORE cache var like the other cache vars
  components/scream/CMakeLists.txt
Labels: AT: AUTOMERGE

#845 Fixes memory leak in calcsize_diag
  components/eam/src/chemistry/utils/modal_aero_calcsize.F90
  components/eam/src/chemistry/utils/modal_aero_wateruptake.F90
  components/eam/src/physics/cam/modal_aer_opt.F90
Labels: AT: AUTOMERGE, B4B, bugfix, radiation

#848 Need to use kokkos arrays to pass collections of views to kernels
  components/scream/src/physics/p3/p3_functions_f90.cpp
Labels: AT: AUTOMERGE
