Repository E3SM-Project/scream, pull requests merged in 2021-04, with the labels that each got.

#972 make tkh local in c++
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_main_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_main_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_run_and_cmp.cpp
Labels: AT: AUTOMERGE, Atmosphere Driver, code cleanup, shoc

#944 Add cloud fraction calculation as an atmospheric process
  components/eam/bld/namelist_files/namelist_defaults_cam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/src/physics/cam/cldfrc2m.F90
  components/eam/src/physics/cam/cloud_fraction.F90
  components/eam/src/physics/cam/phys_control.F90
  components/scream/src/physics/CMakeLists.txt
  components/scream/src/physics/cld_fraction/CMakeLists.txt
  components/scream/src/physics/cld_fraction/atmosphere_cld_fraction.cpp
  components/scream/src/physics/cld_fraction/atmosphere_cld_fraction.hpp
  components/scream/src/physics/cld_fraction/cld_fraction.cpp
  components/scream/src/physics/cld_fraction/cld_fraction_functions.hpp
  components/scream/src/physics/cld_fraction/cld_fraction_main_impl.hpp
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/tests/CMakeLists.txt
  components/scream/tests/scream_cld_fraction/CMakeLists.txt
  components/scream/tests/scream_cld_fraction/cld_fraction_stand_alone.cpp
  components/scream/tests/scream_cld_fraction/input.yaml
  components/scream/tests/scream_p3/CMakeLists.txt
  components/scream/tests/scream_p3_shoc/CMakeLists.txt
  components/scream/tests/scream_shoc/CMakeLists.txt
Labels: AT: AUTOMERGE, Atmosphere Driver, Development Task, enhancement

#976 Hot-fix to ice cloud fraction changes to F90.
  components/eam/bld/build-namelist
  components/eam/bld/namelist_files/namelist_defaults_cam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
Labels: AT: AUTOMERGE, bugfix, priority:high

#980 SCREAM: fix call to mpi_abort in scream_scorpio_interface.F90
  components/scream/src/share/io/scream_scorpio_interface.F90
Labels: CI: Integrate Without Testing, bugfix

#981 Fixes valgrind errors in shoc_uts and p3_standalone
  components/scream/src/physics/p3/atmosphere_microphysics.hpp
  components/scream/src/physics/p3/p3_main_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_pblintd_height_tests.cpp
  components/scream/src/share/field/field_repository.hpp
Labels: AT: AUTOMERGE

#982 add todo
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
Labels: AT: AUTOMERGE

#984 update pd remapper
  components/scream/src/dynamics/homme/physics_dynamics_remapper.hpp
Labels: AT: AUTOMERGE, dynamnics, physics

#988 SCREAM: ninja bug-fix for test-all-scream
  components/scream/scripts/test_all_scream.py
Labels: scripts, testing

#991 CTEST_PARALLEL_LEVEL was not being exported
  components/scream/scripts/machines_specs.py
Labels: AT: AUTOMERGE

#983 add get_dse function
  components/scream/src/physics/share/physics_functions.hpp
  components/scream/src/physics/share/physics_universal_impl.hpp
  components/scream/src/physics/share/tests/physics_universal_unit_tests.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
Labels: AT: AUTOMERGE, physics

#992 Greatly reduce warnings when building SCREAM
  components/eam/src/physics/cam/shoc.F90
  components/scream/cmake/tpls/Scorpio.cmake
  components/scream/src/physics/rrtmgp/CMakeLists.txt
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/scream_rrtmgp_interface.cpp
  components/scream/src/physics/rrtmgp/simple_netcdf.hpp
  components/scream/src/physics/share/tests/physics_universal_unit_tests.cpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/share/io/scream_scorpio_interface.F90
Labels: AT: AUTOMERGE

#990 Remove VAR field tag
  components/scream/src/dynamics/homme/tests/homme_pd_remap_tests.cpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/zm/atmosphere_deep_convection.cpp
  components/scream/src/share/field/field_layout.cpp
  components/scream/src/share/field/field_repository.hpp
  components/scream/src/share/field/field_tag.hpp
  components/scream/src/share/io/scream_scorpio_interface.hpp
  components/scream/src/share/tests/field_tests.cpp
Labels: AT: AUTOMERGE

#989 Use a separate field repo for each grid
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/control/atmosphere_driver.hpp
  components/scream/src/control/surface_coupling.cpp
  components/scream/src/control/surface_coupling.hpp
  components/scream/src/control/tests/ad_tests.cpp
  components/scream/src/control/tests/dummy_atm_proc.hpp
  components/scream/src/control/tests/dummy_atm_setup.hpp
  components/scream/src/control/tests/dummy_grid.hpp
  components/scream/src/control/tests/sc_tests.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.hpp
  components/scream/src/dynamics/homme/dynamics_driven_grids_manager.cpp
  components/scream/src/dynamics/homme/dynamics_driven_grids_manager.hpp
  components/scream/src/mct_coupling/scream_cxx_f90_interface.cpp
  components/scream/src/physics/cld_fraction/atmosphere_cld_fraction.cpp
  components/scream/src/physics/cld_fraction/atmosphere_cld_fraction.hpp
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.hpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.hpp
  components/scream/src/physics/share/physics_only_grids_manager.cpp
  components/scream/src/physics/share/physics_only_grids_manager.hpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/src/physics/shoc/tests/shoc_stand_alone.cpp
  components/scream/src/physics/zm/atmosphere_deep_convection.cpp
  components/scream/src/physics/zm/atmosphere_deep_convection.hpp
  components/scream/src/share/CMakeLists.txt
  components/scream/src/share/atm_process/atmosphere_process.hpp
  components/scream/src/share/atm_process/atmosphere_process_dag.cpp
  components/scream/src/share/atm_process/atmosphere_process_dag.hpp
  components/scream/src/share/atm_process/atmosphere_process_group.cpp
  components/scream/src/share/atm_process/atmosphere_process_group.hpp
  components/scream/src/share/field/field_alloc_prop.hpp
  components/scream/src/share/field/field_group.hpp
  components/scream/src/share/field/field_identifier.hpp
  components/scream/src/share/field/field_manager.hpp
  components/scream/src/share/field/field_repository.hpp
  components/scream/src/share/grid/grids_manager.hpp
  components/scream/src/share/grid/user_provided_grids_manager.cpp
  components/scream/src/share/grid/user_provided_grids_manager.hpp
  components/scream/src/share/io/output_manager.hpp
  components/scream/src/share/io/scorpio_input.cpp
  components/scream/src/share/io/scorpio_input.hpp
  components/scream/src/share/io/scorpio_output.cpp
  components/scream/src/share/io/scorpio_output.hpp
  components/scream/src/share/io/tests/io.cpp
  components/scream/src/share/io/tests/restart.cpp
  components/scream/src/share/tests/atm_process_tests.cpp
  components/scream/src/share/tests/dummy_se_point_remapper.hpp
  components/scream/src/share/tests/field_tests.cpp
  components/scream/tests/rrtmgp/rrtmgp_stand_alone.cpp
  components/scream/tests/scream_cld_fraction/cld_fraction_stand_alone.cpp
Labels: Atmosphere Driver, enhancement, infrastructure

#993 Update shoc timing structure
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/shoc_f90.cpp
  components/scream/src/physics/shoc/shoc_f90.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_main_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_run_and_cmp.cpp
Labels: AT: AUTOMERGE, shoc

#994 Adjust algorithm to retrieve prescribed CCN values
  components/eam/src/physics/cam/micro_p3_interface.F90
Labels: AT: AUTOMERGE, p3

#995 Physics universal function to calculate the virtual temperature
  components/scream/src/physics/share/physics_functions.hpp
  components/scream/src/physics/share/physics_universal_impl.hpp
  components/scream/src/physics/share/tests/physics_universal_unit_tests.cpp
Labels: AT: AUTOMERGE, B4B, enhancement, physics

#996 Update cmake machine files for syrah and quartz
  components/scream/cmake/machine-files/quartz.cmake
  components/scream/cmake/machine-files/syrah.cmake
Labels: AT: AUTOMERGE, CI: Integrate Without Testing, Machine File, cmake, priority:high

#987 Update the p3 pre- and post- ambles to facilitate coupling with other processes
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.hpp
  components/scream/src/physics/p3/p3_f90.cpp
  components/scream/src/physics/p3/p3_f90.hpp
  components/scream/src/physics/p3/p3_functions.hpp
  components/scream/src/physics/p3/p3_functions_f90.cpp
  components/scream/src/physics/p3/p3_functions_f90.hpp
  components/scream/src/physics/p3/p3_iso_c.f90
  components/scream/src/physics/p3/p3_iso_f.f90
  components/scream/src/physics/p3/p3_main_impl.hpp
  components/scream/src/physics/p3/tests/CMakeLists.txt
  components/scream/src/physics/p3/tests/p3_main_unit_tests.cpp
  components/scream/src/physics/p3/tests/p3_tests.cpp
  components/scream/tests/scream_p3/p3_standalone_output.yaml
Labels: AT: AUTOMERGE, Atmosphere Driver, B4B, code quality, p3, priority:high

#1003 Add logging wrapper around jenkins_common.sh
  components/scream/scripts/jenkins/jenkins_common.sh
  components/scream/scripts/jenkins/jenkins_common_impl.sh
Labels: AT: AUTOMERGE

#1005 tee Jenkins output
  components/scream/scripts/jenkins/jenkins_common.sh
Labels: AT: AUTOMERGE

#1004 Change shoc 1d views to have type Scalar
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_main_impl.hpp
  components/scream/src/share/util/scream_deep_copy.hpp
Labels: AT: AUTOMERGE, B4B, code cleanup, shoc

#1017 For Cori, add "module load perl5-extras"
  cime_config/machines/config_machines.xml
Labels: AT: AUTOMERGE, CI: Integrate Without Testing, Machine File

#1009 Beydoun/spa update
  components/eam/src/physics/cam/micro_p3.F90
  components/eam/src/physics/cam/micro_p3_interface.F90
  components/eam/src/physics/rrtmgp/radiation.F90
  components/scream/src/physics/p3/p3_main_impl.hpp
Labels: AT: AUTOMERGE, Non-B4B, enhancement, p3

#1024 Fix all remaining compiler warnings
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/share/tests/physics_universal_unit_tests.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/tests/shoc_fterm_diag_third_moms_tests.cpp
  components/scream/src/share/io/scream_scorpio_interface.F90
  components/scream/src/share/util/scream_column_ops.hpp
Labels: AT: AUTOMERGE

#1029 SCREAM: fix in test-all-scream
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE, bugfix, priority:high, scripts, testing

#1027 Rework SHOC to use tracer transpose
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_main_impl.hpp
  components/scream/src/physics/shoc/shoc_update_prognostics_implicit_impl.hpp
Labels: AT: AUTOMERGE, Atmosphere Driver, code cleanup, shoc

#1031 Hot-fix for namelist variables that caused SCREAMv0 to fail building
  components/eam/bld/build-namelist
  components/eam/cime_config/config_component.xml
Labels: AT: AUTOMERGE, B4B, CI: Integrate Without Testing, bugfix, priority:high

#1032 Small bugfixes from upstream-merge in EAM
  components/eam/src/chemistry/utils/modal_aero_calcsize.F90
  components/eam/src/dynamics/se/se_single_column_mod.F90
Labels: AT: AUTOMERGE, B4B, CI: Integrate Without Testing, bugfix, priority:high
