Repository E3SM-Project/scream, pull requests merged in 2021-09, with the labels that each got.

#1173 Redo scream_cpl_indices for SurfaceCoupling
  components/scream/src/control/surface_coupling.cpp
  components/scream/src/control/surface_coupling.hpp
  components/scream/src/control/tests/sc_tests.cpp
  components/scream/src/mct_coupling/atm_comp_mct.F90
  components/scream/src/mct_coupling/scream_cpl_indices.F90
  components/scream/src/mct_coupling/scream_cxx_f90_interface.cpp
  components/scream/src/mct_coupling/scream_f2c_mod.F90
Labels: AT: AUTOMERGE

#1165 Automated field checking during each run step
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/physics/cld_fraction/atmosphere_cld_fraction.cpp
  components/scream/src/physics/cld_fraction/atmosphere_cld_fraction.hpp
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.hpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.hpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/src/physics/zm/atmosphere_deep_convection.cpp
  components/scream/src/physics/zm/atmosphere_deep_convection.hpp
  components/scream/src/share/atm_process/atmosphere_process.hpp
  components/scream/src/share/atm_process/atmosphere_process_dag.cpp
  components/scream/src/share/atm_process/atmosphere_process_group.cpp
  components/scream/src/share/atm_process/atmosphere_process_utils.hpp
  components/scream/src/share/field/field_property_checks/field_positivity_check.hpp
  components/scream/src/share/tests/atm_process_tests.cpp
  components/scream/tests/CMakeLists.txt
  components/scream/tests/coupled/homme_physics/CMakeLists.txt
  components/scream/tests/coupled/shoc_cld_p3_rrtmgp/shoc_cld_p3_rrtmgp.cpp
  components/scream/tests/generic/CMakeLists.txt
  components/scream/tests/generic/infra/CMakeLists.txt
  components/scream/tests/generic/infra/fake_test.cpp
  components/scream/tests/uncoupled/cld_fraction/cld_fraction_standalone.cpp
  components/scream/tests/uncoupled/p3/p3_standalone.cpp
  components/scream/tests/uncoupled/p3/p3_standalone_output.yaml
  components/scream/tests/uncoupled/shoc/CMakeLists.txt
  components/scream/tests/uncoupled/shoc/input.yaml
  components/scream/tests/uncoupled/shoc/shoc_standalone.cpp
  components/scream/tests/uncoupled/shoc/shoc_standalone_output.yaml
Labels: testing, B4B, physics

#1174 Bugfix to ftype=2 option in the homme dynamics interface.
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/tests/theta-nmax.nl
  components/scream/tests/coupled/homme_physics/CMakeLists.txt
  components/scream/tests/uncoupled/homme/CMakeLists.txt
Labels: testing, homme, AT: AUTOMERGE, bugfix

#1164 Move conversion of nc_prescribed out of p3_main code and into the interface
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/src/physics/cam/micro_p3.F90
  components/eam/src/physics/cam/micro_p3_interface.F90
  components/scream/src/physics/p3/p3_ic_cases.cpp
  components/scream/src/physics/p3/p3_main_impl.hpp
Labels: testing, code quality, B4B, p3, AT: AUTOMERGE, SPA

#1180 Fix area/lat/lon computations in phys_grid_mod
  components/scream/src/dynamics/homme/dynamics_driven_grids_manager.cpp
  components/scream/src/dynamics/homme/dynamics_driven_grids_manager.hpp
  components/scream/src/dynamics/homme/interface/phys_grid_mod.F90
Labels: AT: AUTOMERGE, Atmosphere Driver, bugfix

#1175 Compute solar zenith angle for radiation
  components/scream/cmake/machine-files/summit.cmake
  components/scream/scripts/machines_specs.py
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/physics/rrtmgp/CMakeLists.txt
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.hpp
  components/scream/src/physics/rrtmgp/scream_rrtmgp_interface.cpp
  components/scream/src/physics/rrtmgp/share/CMakeLists.txt
  components/scream/src/physics/rrtmgp/share/shr_orb_mod_c2f.F90
  components/scream/src/physics/rrtmgp/share/shr_orb_mod_c2f.hpp
  components/scream/src/physics/rrtmgp/tests/CMakeLists.txt
  components/scream/src/physics/rrtmgp/tests/rrtmgp_test_utils.cpp
  components/scream/src/physics/rrtmgp/tests/rrtmgp_test_utils.hpp
  components/scream/src/physics/rrtmgp/tests/rrtmgp_tests.cpp
  components/scream/src/physics/rrtmgp/tests/rrtmgp_unit_tests.cpp
  components/scream/tests/coupled/shoc_cld_p3_rrtmgp/input.yaml
  components/scream/tests/uncoupled/rrtmgp/input.yaml
  components/scream/tests/uncoupled/rrtmgp/rrtmgp_standalone.cpp
Labels: radiation, AT: AUTOMERGE, bugfix, priority:high

#1181 Changes to GroupRequest logic, AtmosphereProcess interfaces, and AD handling of initial conditions.
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/control/atmosphere_driver.hpp
  components/scream/src/control/tests/ad_tests.yaml
  components/scream/src/control/tests/dummy_atm_proc.hpp
  components/scream/src/control/tests/sc_tests.cpp
  components/scream/src/dynamics/homme/CMakeLists.txt
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.hpp
  components/scream/src/dynamics/homme/interface/homme_params_mod.F90
  components/scream/src/dynamics/homme/physics_dynamics_remapper.hpp
  components/scream/src/dynamics/homme/tests/theta-ndays.nl
  components/scream/src/dynamics/homme/tests/theta-nmax.nl
  components/scream/src/physics/cld_fraction/atmosphere_cld_fraction.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/rrtmgp/CMakeLists.txt
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/tests/CMakeLists.txt
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/src/physics/spa/atmosphere_prescribed_aerosol.cpp
  components/scream/src/physics/spa/atmosphere_prescribed_aerosol_hack.cpp
  components/scream/src/physics/spa/spa_functions_impl.hpp
  components/scream/src/share/CMakeLists.txt
  components/scream/src/share/atm_process/atmosphere_process.cpp
  components/scream/src/share/atm_process/atmosphere_process.hpp
  components/scream/src/share/atm_process/atmosphere_process_group.cpp
  components/scream/src/share/atm_process/atmosphere_process_group.hpp
  components/scream/src/share/field/field.hpp
  components/scream/src/share/field/field_alloc_prop.hpp
  components/scream/src/share/field/field_group.hpp
  components/scream/src/share/field/field_header.cpp
  components/scream/src/share/field/field_manager.hpp
  components/scream/src/share/field/field_request.hpp
  components/scream/src/share/field/field_tracking.cpp
  components/scream/src/share/field/field_tracking.hpp
  components/scream/src/share/scream_types.hpp
  components/scream/src/share/tests/field_tests.cpp
  components/scream/src/share/util/scream_utils.hpp
  components/scream/tests/coupled/homme_physics/CMakeLists.txt
  components/scream/tests/coupled/homme_physics/input.yaml
  components/scream/tests/coupled/shoc_cld_p3_rrtmgp/CMakeLists.txt
  components/scream/tests/coupled/shoc_cld_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/shoc_cld_p3_rrtmgp/shoc_cld_p3_rrtmgp.cpp
  components/scream/tests/uncoupled/cld_fraction/cld_fraction_standalone.cpp
  components/scream/tests/uncoupled/cld_fraction/input.yaml
  components/scream/tests/uncoupled/homme/input.yaml
  components/scream/tests/uncoupled/p3/input.yaml
  components/scream/tests/uncoupled/p3/p3_standalone.cpp
  components/scream/tests/uncoupled/rrtmgp/CMakeLists.txt
  components/scream/tests/uncoupled/rrtmgp/input.yaml
  components/scream/tests/uncoupled/shoc/input.yaml
  components/scream/tests/uncoupled/shoc/shoc_standalone.cpp
  components/scream/tests/uncoupled/spa/input.yaml
Labels: infrastructure, B4B, AT: AUTOMERGE, Atmosphere Driver

#1183 Setup "reparing" instances of negative tracer mass after the dynamics step
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.hpp
  components/scream/src/dynamics/homme/interface/homme_grid_mod.F90
  components/scream/src/dynamics/homme/interface/phys_grid_mod.F90
  components/scream/src/share/field/field_property_checks/field_lower_bound_check.hpp
  components/scream/src/share/field/field_property_checks/field_upper_bound_check.hpp
  components/scream/src/share/field/field_property_checks/field_within_interval_check.hpp
  components/scream/src/share/tests/field_tests.cpp
Labels: bug, B4B, AT: AUTOMERGE, priority:high, dynamics

#1190 hotfix to lassen cmake file to make jsrun command work after LC policy change
  components/scream/cmake/machine-files/lassen.cmake
Labels: B4B, Machine File, AT: AUTOMERGE, AT: Integrate Without Testing, priority:high

#1191 Add needed team_barrier()
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
Labels: AT: AUTOMERGE, Atmosphere Driver, bugfix

#1192 Switch the default ftype for the homme+physics test back to 0.
  components/scream/tests/coupled/homme_physics/CMakeLists.txt
Labels: testing, cmake, homme, AT: AUTOMERGE

#1199 SCREAM: make test-all-scream print last commit oneline msg
  components/scream/scripts/git_utils.py
Labels: AT: AUTOMERGE, scripts

#1205 SCREAM: update mappy machine specs
  components/scream/scripts/machines_specs.py
Labels: testing, AT: AUTOMERGE, AT: Integrate Without Testing, scripts

#1209 scripts-tests upgrade
  components/scream/CMakeLists.txt
  components/scream/scripts/git_utils.py
  components/scream/scripts/jenkins/jenkins_common_impl.sh
  components/scream/scripts/scripts-tests
  components/scream/src/CMakeLists.txt
  components/scream/src/physics/CMakeLists.txt
  components/scream/src/share/CMakeLists.txt
  components/scream/src/share/scream_config.hpp
  components/scream/tests/CMakeLists.txt
  components/scream/tests/generic/infra/fake_test.cpp
Labels: AT: AUTOMERGE, scripts

#1202 Fix some cuda-memcheck errors for the phys-dyn remapper.
  components/scream/src/dynamics/homme/interface/homme_params_mod.F90
  components/scream/src/dynamics/homme/physics_dynamics_remapper.hpp
Labels: homme, AT: AUTOMERGE, bugfix

#1204 Add testing profiles feature
  components/scream/CMakeLists.txt
  components/scream/cmake/ScreamUtils.cmake
  components/scream/tests/coupled/homme_physics/CMakeLists.txt
  components/scream/tests/coupled/shoc_cld_p3_rrtmgp/CMakeLists.txt
  components/scream/tests/coupled/shoc_cld_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/shoc_cld_p3_rrtmgp/shoc_cld_p3_rrtmgp.cpp
  components/scream/tests/uncoupled/homme/CMakeLists.txt
Labels: enhancement, testing, cmake, AT: AUTOMERGE

#1215 SCREAM: fix shoc CMakeLists.txt
  components/scream/src/physics/shoc/CMakeLists.txt
Labels: cmake, shoc, AT: AUTOMERGE, bugfix

#1221 Correct a2x name
  components/scream/src/mct_coupling/scream_cpl_indices.F90
Labels: AT: AUTOMERGE

#1200 SCREAM: fix non-existent include dir warning
  components/scream/src/physics/p3/CMakeLists.txt
  components/scream/src/physics/share/CMakeLists.txt
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/zm/CMakeLists.txt
Labels: cmake, AT: AUTOMERGE, code cleanup

#1226 Remove subgrid enhancement information from SHOC for P3 process rates
  components/eam/src/physics/cam/micro_p3.F90
  components/scream/src/physics/p3/p3_autoconversion_impl.hpp
  components/scream/src/physics/p3/p3_cldliq_imm_freezing_impl.hpp
  components/scream/src/physics/p3/p3_cloud_rain_acc_impl.hpp
Labels: Non-B4B, p3

#1225 add scripts ctest driver
  components/scream/cmake/ctest_script_scripts_tests.cmake
  components/scream/scripts/jenkins/jenkins_scripts_tests.sh
  components/scream/scripts/jenkins/jenkins_scripts_tests_impl.sh
  components/scream/scripts/scripts-ctest-driver
  components/scream/scripts/scripts-tests
  components/scream/scripts/scripts_ctest_driver.py
  components/scream/scripts/tests/CMakeLists.txt
  components/scream/scripts/tests/CTestConfig.cmake
Labels: AT: AUTOMERGE

#1201 DP-SCREAM temperature relaxation bug fix
  components/eam/src/dynamics/se/se_single_column_mod.F90
Labels: B4B, AT: AUTOMERGE, bugfix
