Repository E3SM-Project/scream, pull requests merged in 2021-05, with the labels that each got.

#1034 Bugfix to namelist defaults in EAM for HR compset with ne4
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
Labels: AT: AUTOMERGE, AT: Integrate Without Testing, B4B, CIME, bugfix, priority:high, testing

#1015 SHOC updates
  components/eam/bld/build-namelist
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/bld/namelist_files/use_cases/2000_scream_hr.xml
  components/eam/bld/namelist_files/use_cases/2010_scream_hr.xml
  components/eam/bld/namelist_files/use_cases/2010_scream_hr_dyamond2.xml
  components/eam/bld/namelist_files/use_cases/2010_scream_lr.xml
  components/eam/bld/namelist_files/use_cases/2010_scream_lr_dyamond2.xml
  components/eam/src/physics/cam/shoc.F90
  components/eam/src/physics/cam/shoc_intr.F90
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_clipping_diag_third_shoc_moments_impl.hpp
  components/scream/src/physics/shoc/shoc_compute_conv_time_shoc_length.cpp
  components/scream/src/physics/shoc/shoc_compute_conv_time_shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_compute_conv_vel_shoc_length.cpp
  components/scream/src/physics/shoc/shoc_compute_conv_vel_shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_compute_shoc_mix_shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_compute_shr_prod_impl.hpp
  components/scream/src/physics/shoc/shoc_diag_second_moments_impl.hpp
  components/scream/src/physics/shoc/shoc_eddy_diffusivities_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/shoc_isotropic_ts_impl.hpp
  components/scream/src/physics/shoc/shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_main_impl.hpp
  components/scream/src/physics/shoc/tests/CMakeLists.txt
  components/scream/src/physics/shoc/tests/shoc_clip_third_moms_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_conv_time_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_conv_vel_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_diag_third_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_length_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_mix_length_tests.cpp
Labels: AT: AUTOMERGE, AT: RETEST, Non-B4B, bugfix, shoc

#1036 Add flag to register SPA variables with PBUF only when SPA is active
  components/eam/src/physics/cam/micro_p3_interface.F90
  components/eam/src/physics/rrtmgp/radiation.F90
Labels: AT: AUTOMERGE, B4B, bugfix, p3, priority:medium, radiation

#1012 Compute and apply radiative heating
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/rrtmgp_heating_rate.hpp
  components/scream/src/physics/rrtmgp/tests/CMakeLists.txt
  components/scream/src/physics/rrtmgp/tests/rrtmgp_unit_tests.cpp
  components/scream/tests/rrtmgp/input.yaml
  components/scream/tests/rrtmgp/rrtmgp_stand_alone.cpp
Labels: AT: AUTOMERGE, B4B, radiation

#1046 Fix last valgrind error in homme standalone test
  components/scream/src/dynamics/homme/interface/homme_params_mod.F90
Labels: AT: AUTOMERGE, bugfix, valgrind

#1043 Add support for building cprnc
  components/scream/CMakeLists.txt
  components/scream/cmake/BuildCprnc.cmake
Labels: AT: AUTOMERGE

#1044 SHOC namelist bug fix
  components/eam/src/physics/cam/shoc.F90
Labels: AT: AUTOMERGE, B4B, bugfix, shoc

#1049 Should never change global git configs
  components/scream/scripts/jenkins/jenkins_common_impl.sh
Labels: AT: AUTOMERGE

#1045 Using tracer data routines to read and interpolate SPA input files.
  components/eam/bld/build-namelist
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/src/chemistry/utils/read_spa_data.F90
  components/eam/src/control/runtime_opts.F90
  components/eam/src/physics/cam/micro_p3_interface.F90
  components/eam/src/physics/cam/physpkg.F90
  components/eam/src/physics/rrtmgp/radiation.F90
Labels: AT: AUTOMERGE

#1054 Bugfix: p3 interface no minimum cloud fraction being set.
  components/scream/src/physics/p3/atmosphere_microphysics.hpp
Labels: AT: AUTOMERGE, bugfix, p3

#1057 Adopt common physics functions for all processes
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.hpp
  components/scream/src/physics/share/CMakeLists.txt
  components/scream/src/physics/share/physics_functions.hpp
  components/scream/src/physics/share/physics_universal.cpp
  components/scream/src/physics/share/physics_universal_impl.hpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
Labels: AT: AUTOMERGE, B4B, p3, physics, shoc

#1058 Pass cloud mixing ratios to radiation instead of in-cloud mass
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/scream_rrtmgp_interface.hpp
  components/scream/src/physics/rrtmgp/tests/generate_baseline.cpp
  components/scream/src/physics/rrtmgp/tests/rrtmgp_test_utils.cpp
  components/scream/src/physics/rrtmgp/tests/rrtmgp_test_utils.hpp
  components/scream/src/physics/rrtmgp/tests/rrtmgp_tests.cpp
  components/scream/src/physics/rrtmgp/tests/rrtmgp_unit_tests.cpp
  components/scream/tests/rrtmgp/input.yaml
  components/scream/tests/rrtmgp/rrtmgp_stand_alone.cpp
Labels: AT: AUTOMERGE, B4B, radiation

#1050 Compute cell area in PointGrid and use for dx/dy in SHOC
  components/scream/src/physics/share/physics_constants.hpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/src/physics/shoc/shoc_check_length_scale_shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_main_impl.hpp
  components/scream/src/share/grid/point_grid.cpp
Labels: AT: AUTOMERGE, Atmosphere Driver, shoc

#1068 Implements chem=spa option
  components/eam/bld/build-namelist
  components/eam/bld/config_files/definition.xml
  components/eam/bld/configure
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/src/physics/cam/micro_p3_interface.F90
  components/eam/src/physics/rrtmgp/radiation.F90
Labels: AT: AUTOMERGE, B4B, enhancement

#1048 add memory buffer to AD
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/control/atmosphere_driver.hpp
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.hpp
  components/scream/src/physics/p3/p3_functions.hpp
  components/scream/src/physics/p3/p3_functions_f90.cpp
  components/scream/src/physics/p3/p3_main_impl.hpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.hpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_main_impl.hpp
  components/scream/src/share/atm_process/ATMBufferManager.hpp
  components/scream/src/share/atm_process/atmosphere_process.hpp
  components/scream/src/share/atm_process/atmosphere_process_group.cpp
  components/scream/src/share/atm_process/atmosphere_process_group.hpp
Labels: AT: AUTOMERGE, Atmosphere Driver, code quality, p3, radiation, shoc
