Repository E3SM-Project/scream, pull requests merged in 2021-06, with the labels that each got.

#1071 Guarantee baseline dir cleanup
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE, scripts

#1069 Separate gas_vmr into separate gas concentration species in rrtmgp interface
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.hpp
  components/scream/src/physics/rrtmgp/scream_rrtmgp_interface.cpp
  components/scream/src/physics/rrtmgp/scream_rrtmgp_interface.hpp
  components/scream/src/physics/rrtmgp/tests/rrtmgp_unit_tests.cpp
  components/scream/src/physics/share/physics_constants.hpp
  components/scream/src/share/tests/common_physics_functions_tests.cpp
  components/scream/src/share/util/scream_common_physics_functions.hpp
  components/scream/src/share/util/scream_common_physics_functions_impl.hpp
  components/scream/tests/rrtmgp/input.yaml
  components/scream/tests/rrtmgp/rrtmgp_stand_alone.cpp
Labels: AT: AUTOMERGE, B4B, priority:high, radiation

#922 Doubly Periodic SCREAM
  cime_config/tests.py
  components/cice/src/drivers/cpl/ice_comp_mct.F90
  components/cice/src/drivers/cpl/ice_scam.F90
  components/cice/src/source/ice_grid.F90
  components/eam/bld/build-namelist
  components/eam/bld/config_files/definition.xml
  components/eam/bld/configure
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/bld/namelist_files/use_cases/dpscream_arm97.xml
  components/eam/cime_config/config_component.xml
  components/eam/cime_config/config_compsets.xml
  components/eam/src/control/forecast.F90
  components/eam/src/control/history_scam.F90
  components/eam/src/control/ncdio_atm.F90
  components/eam/src/control/physconst.F90
  components/eam/src/control/runtime_opts.F90
  components/eam/src/control/scamMod.F90
  components/eam/src/cpl/atm_comp_mct.F90
  components/eam/src/dynamics/se/dyn_comp.F90
  components/eam/src/dynamics/se/dyn_grid.F90
  components/eam/src/dynamics/se/inidat.F90
  components/eam/src/dynamics/se/se_single_column_mod.F90
  components/eam/src/dynamics/se/stepon.F90
  components/eam/src/physics/cam/phys_grid.F90
  components/eam/src/physics/cam/shoc_intr.F90
  components/elm/src/cpl/lnd_comp_mct.F90
  components/elm/src/main/elm_varctl.F90
  components/elm/src/main/ncdio_pio.F90.in
  components/homme/src/share/namelist_mod.F90
Labels: AT: AUTOMERGE, B4B, Development Task, enhancement, infrastructure

#1033 use ekat::scalarize more in SHOC
  components/scream/src/physics/shoc/shoc_assumed_pdf_impl.hpp
  components/scream/src/physics/shoc/shoc_compute_diag_third_shoc_moment_impl.hpp
  components/scream/src/physics/shoc/shoc_compute_shr_prod_impl.hpp
  components/scream/src/physics/shoc/shoc_diag_second_shoc_moments_impl.hpp
  components/scream/src/physics/shoc/shoc_eddy_diffusivities_impl.hpp
  components/scream/src/physics/shoc/shoc_energy_fixer_impl.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_grid_impl.hpp
  components/scream/src/physics/shoc/shoc_main_impl.hpp
  components/scream/src/physics/shoc/shoc_pblintd_check_pblh_impl.hpp
  components/scream/src/physics/shoc/shoc_pblintd_height_impl.hpp
  components/scream/src/physics/shoc/shoc_pblintd_impl.hpp
  components/scream/src/physics/shoc/shoc_pblintd_surf_temp_impl.hpp
  components/scream/src/physics/shoc/shoc_update_prognostics_implicit_impl.hpp
Labels: AT: AUTOMERGE, code cleanup, shoc

#1076 A more robust way to submit cdash results
  components/scream/CTestConfig.cmake
Labels: AT: Integrate Without Testing

#1079 SCREAM: avoid looping over unused tracers slots in HommeDynamics interface
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
Labels: AT: AUTOMERGE, B4B, bugfix, homme

#1082 Some Compy machine file updates
  components/scream/cmake/machine-files/compy.cmake
  components/scream/scripts/machines_specs.py
Labels: AT: Integrate Without Testing

#1080 Add local homme memory to AD mem buffer
  components/homme/src/share/cxx/CaarFunctor.cpp
  components/homme/src/share/cxx/CaarFunctor.hpp
  components/homme/src/share/cxx/EulerStepFunctor.cpp
  components/homme/src/share/cxx/EulerStepFunctor.hpp
  components/homme/src/share/cxx/EulerStepFunctorImpl.hpp
  components/homme/src/share/cxx/FunctorsBuffersManager.cpp
  components/homme/src/share/cxx/FunctorsBuffersManager.hpp
  components/homme/src/share/cxx/HyperviscosityFunctor.cpp
  components/homme/src/share/cxx/HyperviscosityFunctor.hpp
  components/homme/src/share/cxx/VerticalRemapManager.cpp
  components/homme/src/share/cxx/VerticalRemapManager.hpp
  components/homme/src/theta-l_kokkos/cxx/CaarFunctorImpl.hpp
  components/homme/src/theta-l_kokkos/cxx/ForcingFunctor.hpp
  components/homme/src/theta-l_kokkos/cxx/HyperviscosityFunctorImpl.cpp
  components/homme/src/theta-l_kokkos/cxx/HyperviscosityFunctorImpl.hpp
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/homme/src/theta-l_kokkos/prim_driver_mod.F90
  components/homme/src/theta-l_kokkos/theta_f2c_mod.F90
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/control/atmosphere_driver.hpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.hpp
  components/scream/src/dynamics/homme/interface/homme_driver_mod.F90
  components/scream/src/physics/p3/atmosphere_microphysics.hpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.hpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/tests/uncoupled/homme/homme_stand_alone.cpp
Labels: AT: AUTOMERGE, Atmosphere Driver, homme

#1083 SCREAM: add ability to specify version when installing python pkg
  components/scream/scripts/utils.py
Labels: scripts

#1088 Functions to convert dry to wet mixing ratios and vice versa
  components/scream/src/share/tests/common_physics_functions_tests.cpp
  components/scream/src/share/util/scream_common_physics_functions.hpp
  components/scream/src/share/util/scream_common_physics_functions_impl.hpp
Labels: AT: AUTOMERGE, B4B, physics

#1085 Introduces a calculate_density function to the common physics functions
  components/scream/src/share/tests/common_physics_functions_tests.cpp
  components/scream/src/share/util/scream_common_physics_functions.hpp
  components/scream/src/share/util/scream_common_physics_functions_impl.hpp
Labels: AT: AUTOMERGE, B4B, enhancement, physics, priority:high

#1091 fix typo
  components/scream/src/share/atm_process/atmosphere_process.hpp
Labels: AT: AUTOMERGE
