Repository E3SM-Project/scream, pull requests merged in 2021-03, with the labels that each got.

#891 Add release tests to test-all-scream
  components/scream/scripts/test-all-scream
  components/scream/scripts/test_all_scream.py
  components/scream/scripts/utils.py
  components/scream/src/physics/p3/tests/CMakeLists.txt
  components/scream/src/physics/shoc/shoc_tridiag_solver_impl.hpp
  components/scream/src/physics/shoc/tests/CMakeLists.txt
Labels: AT: AUTOMERGE

#917 Another blake hack was needed for a recently added test
  components/scream/src/physics/shoc/shoc_inputs_initializer.cpp
Labels: AT: AUTOMERGE

#900 Remove old interface code
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/scream_shoc_interface.F90
  components/scream/src/physics/shoc/scream_shoc_interface.hpp
  components/scream/tests/scream_p3_shoc/p3_shoc_coupled.cpp
Labels: AT: AUTOMERGE, Atmosphere Driver, shoc

#919 test-all-scream: Add valgrind mode
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE

#899 add shoc_init
  components/eam/src/physics/cam/shoc.F90
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/src/physics/shoc/shoc_constants.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_functions_f90.hpp
  components/scream/src/physics/shoc/shoc_iso_c.f90
  components/scream/src/physics/shoc/shoc_iso_f.f90
  components/scream/src/physics/shoc/shoc_main_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_main_tests.cpp
Labels: AT: AUTOMERGE, B4B, shoc

#897 SCREAM: created separate field tags for midpoints and interface levels
  components/scream/src/control/tests/dummy_atm_proc.hpp
  components/scream/src/control/tests/dummy_grid.hpp
  components/scream/src/control/tests/sc_tests.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/physics_dynamics_remapper.hpp
  components/scream/src/dynamics/homme/tests/homme_pd_remap_tests.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/zm/atmosphere_deep_convection.cpp
  components/scream/src/share/field/field_group.hpp
  components/scream/src/share/field/field_tag.hpp
  components/scream/src/share/field/field_utils.hpp
  components/scream/src/share/grid/point_grid.cpp
  components/scream/src/share/grid/se_grid.cpp
  components/scream/src/share/io/tests/io.cpp
  components/scream/src/share/io/tests/restart.cpp
  components/scream/src/share/tests/dummy_se_point_remapper.hpp
  components/scream/src/share/tests/field_tests.cpp
Labels: AT: AUTOMERGE, B4B, enhancement

#921 Add a nightly mappy valgrind test
  components/scream/scripts/jenkins/jenkins_common.sh
Labels: AT: AUTOMERGE

#893 Various fixes to remap, dynamics, and initialization.
  components/homme/src/share/cxx/SimulationParams.hpp
  components/homme/src/share/cxx/Tracers.cpp
  components/homme/src/share/cxx/Tracers.hpp
  components/homme/src/share/cxx/utilities/SyncUtils.hpp
  components/homme/src/theta-l_kokkos/cxx/CaarFunctorImpl.hpp
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/homme_inputs_initializer.cpp
  components/scream/src/dynamics/homme/interface/homme_params_mod.F90
  components/scream/src/dynamics/homme/physics_dynamics_remapper.hpp
  components/scream/src/dynamics/homme/tests/CMakeLists.txt
  components/scream/src/dynamics/homme/tests/homme_pd_remap_tests.cpp
  components/scream/src/dynamics/homme/tests/test_helper_mod.F90
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.hpp
  components/scream/src/physics/p3/p3_inputs_initializer.cpp
  components/scream/src/share/atm_process/atmosphere_process_dag.cpp
  components/scream/src/share/atm_process/atmosphere_process_dag.hpp
  components/scream/src/share/atm_process/atmosphere_process_group.cpp
  components/scream/src/share/field/field_group.hpp
  components/scream/src/share/field/field_repository.hpp
  components/scream/src/share/grid/remap/inverse_remapper.hpp
  components/scream/src/share/tests/atm_process_tests.cpp
  components/scream/tests/CMakeLists.txt
  components/scream/tests/scream_homme/CMakeLists.txt
  components/scream/tests/scream_homme/homme_stand_alone.cpp
  components/scream/tests/scream_homme/input.yaml
  components/scream/tests/scream_homme_p3/CMakeLists.txt
  components/scream/tests/scream_homme_p3/homme_p3.cpp
  components/scream/tests/scream_homme_p3/input.yaml
  components/scream/tests/scream_p3/input.yaml
  components/scream/tests/scream_p3_shoc/input.yaml
Labels: Atmosphere Driver, B4B, infrastructure

#924 hotfix to handle bug that with shoc_init being declared as a KOKKOS_FUNCTION
  components/scream/src/physics/shoc/shoc_functions.hpp
Labels: AT: AUTOMERGE, B4B, bugfix, shoc

#925 Some updates to scream scripts
  components/scream/scripts/gather_all_data.py
  components/scream/scripts/machines_specs.py
  components/scream/scripts/scream-env-cmd
  components/scream/scripts/scripts-tests
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE

#901 Make it possible to pull input from netCDF indendent of the field manager
  .gitignore
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/share/io/CMakeLists.txt
  components/scream/src/share/io/scorpio_input.cpp
  components/scream/src/share/io/scorpio_input.hpp
  components/scream/src/share/io/scorpio_output.cpp
  components/scream/src/share/io/scorpio_output.hpp
  components/scream/src/share/io/tests/io.cpp
  components/scream/src/share/io/tests/restart.cpp
  components/scream/tests/scream_p3/CMakeLists.txt
  components/scream/tests/scream_p3/input.yaml
  components/scream/tests/scream_p3/p3_standalone_init.nc
Labels: AT: AUTOMERGE, B4B, Development Task, I/O

#896 SCREAM: first stab at creating simple nc files for AD tests initial conditions
  components/scream/data/scream_aquaplanet_ne4np4_L128.nc
  components/scream/scripts/nc-file-init
  components/scream/scripts/nc_file_init.py
  components/scream/scripts/populate-nc-file
  components/scream/scripts/populate_nc_file.py
Labels: CI: Integrate Without Testing, scripts

#928 Ensure origin/master is up-to-date during integration tests
  components/scream/scripts/test_all_scream.py
  components/scream/scripts/utils.py
Labels: AT: AUTOMERGE, scripts, testing

#931 Upgrades/fixes to query-cf-database
  components/scream/scripts/CMakeLists.txt
  components/scream/scripts/query-cf-database.cpp
  components/scream/scripts/query-cf-database.cpp.in
Labels: AT: AUTOMERGE, B4B, CI: Integrate Without Testing, EKAT, scripts

#932 Add README for scripts
  components/scream/README.md
  components/scream/scripts/README.md
  components/scream/scripts/cf-xml-to-yaml
  components/scream/scripts/const-maker
  components/scream/scripts/gather-all-data
  components/scream/scripts/perf-analysis
  components/scream/scripts/perf_analysis.py
  components/scream/scripts/test-all-scream
  components/scream/src/physics/p3/p3_main_impl.hpp
  components/scream/src/physics/p3/tests/p3_run_and_cmp.cpp
  components/scream/src/physics/shoc/shoc_main_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_main_tests.cpp
  components/scream/src/physics/shoc/tests/shoc_run_and_cmp.cpp
Labels: AT: AUTOMERGE

#937 Fixing blake_setup jenkins script
  components/scream/scripts/jenkins/blake_setup
Labels: AT: AUTOMERGE, bugfix, scripts

#939 SCREAM: upgrade to machine specs for weaver
  components/scream/scripts/machines_specs.py
Labels: B4B, scripts, testing

#942 Move remappers inside atm procs
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.hpp
  components/scream/src/share/atm_process/atmosphere_process_dag.cpp
  components/scream/src/share/atm_process/atmosphere_process_group.cpp
  components/scream/src/share/atm_process/atmosphere_process_group.hpp
  components/scream/src/share/grid/grids_manager.hpp
  components/scream/src/share/grid/remap/abstract_remapper.hpp
Labels: AT: AUTOMERGE, Atmosphere Driver, B4B, infrastructure

#947 Fix issue where fortran's implicit save of variables was unintended causing non-bfb with threading
  components/eam/src/physics/cam/micro_p3.F90
Labels: AT: AUTOMERGE, p3

#945 Some minor mods to test-all-scream
  components/scream/scripts/gather-all-data
  components/scream/scripts/gen-boiler
  components/scream/scripts/gen_boiler.py
  components/scream/scripts/git_utils.py
  components/scream/scripts/jenkins/jenkins_common.sh
  components/scream/scripts/machines_specs.py
  components/scream/scripts/scripts-tests
  components/scream/scripts/test_all_scream.py
  components/scream/scripts/utils.py
Labels: AT: AUTOMERGE, scripts, testing

#934 parallelize remap
  components/scream/src/control/tests/dummy_grid.hpp
  components/scream/src/dynamics/homme/physics_dynamics_remapper.hpp
  components/scream/src/share/grid/remap/abstract_remapper.hpp
  components/scream/src/share/grid/remap/identity_remapper.hpp
  components/scream/src/share/grid/remap/inverse_remapper.hpp
  components/scream/src/share/scream_types.hpp
  components/scream/src/share/tests/dummy_se_point_remapper.hpp
Labels: AT: AUTOMERGE, dynamnics, physics

#961 SCREAM: hot fix to test_all_scream.py
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE, bugfix, priority:high, scripts, testing
