Repository E3SM-Project/scream, pull requests merged in 2021-02, with the labels that each got.

#862 Bug fixes and unit test for SurfaceCoupling class.
  components/scream/CMakeLists.txt
  components/scream/data/scream_input.yaml
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/control/surface_coupling.cpp
  components/scream/src/control/surface_coupling.hpp
  components/scream/src/control/tests/CMakeLists.txt
  components/scream/src/control/tests/sc_tests.cpp
  components/scream/src/dynamics/homme/interface/homme_driver_mod.F90
  components/scream/src/mct_coupling/scream_cpl_indices.F90
Labels: AT: AUTOMERGE, Atmosphere Driver

#870 P3 post-amble processing of variables
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.hpp
  components/scream/src/physics/p3/p3_inputs_initializer.cpp
Labels: AT: AUTOMERGE, Atmosphere Driver, Development Task, Non-B4B, bugfix, p3

#883 SCREAM: added env-setup print option to test-all-scream
  components/scream/scripts/test-all-scream
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE, B4B, testing

#885 Aarondonahue/io packed arrays
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/share/field/field_alloc_prop.cpp
  components/scream/src/share/field/field_alloc_prop.hpp
  components/scream/src/share/io/scorpio_input.hpp
  components/scream/src/share/io/scorpio_output.hpp
  components/scream/src/share/io/scream_scorpio_interface.F90
  components/scream/src/share/io/scream_scorpio_interface.cpp
  components/scream/src/share/io/scream_scorpio_interface.hpp
  components/scream/src/share/io/scream_scorpio_interface_iso_c2f.F90
  components/scream/src/share/io/tests/io.cpp
  components/scream/src/share/io/tests/io_test_average.yaml
  components/scream/src/share/io/tests/io_test_instant.yaml
  components/scream/src/share/io/tests/io_test_max.yaml
  components/scream/src/share/io/tests/io_test_min.yaml
  components/scream/src/share/tests/field_tests.cpp
Labels: AT: AUTOMERGE, B4B, Development Task, I/O

#873 Create tracers as subviews of a large Q array
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/control/surface_coupling.cpp
  components/scream/src/control/surface_coupling.hpp
  components/scream/src/control/tests/dummy_atm_proc.hpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.hpp
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/p3/p3_inputs_initializer.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/src/physics/shoc/scream_shoc_interface.F90
  components/scream/src/physics/shoc/scream_shoc_interface.hpp
  components/scream/src/physics/zm/atmosphere_deep_convection.cpp
  components/scream/src/physics/zm/zm_inputs_initializer.cpp
  components/scream/src/share/atm_process/atmosphere_process.hpp
  components/scream/src/share/atm_process/atmosphere_process_dag.cpp
  components/scream/src/share/atm_process/atmosphere_process_group.cpp
  components/scream/src/share/atm_process/atmosphere_process_group.hpp
  components/scream/src/share/field/field.hpp
  components/scream/src/share/field/field_alloc_prop.cpp
  components/scream/src/share/field/field_alloc_prop.hpp
  components/scream/src/share/field/field_group.hpp
  components/scream/src/share/field/field_header.cpp
  components/scream/src/share/field/field_header.hpp
  components/scream/src/share/field/field_layout.hpp
  components/scream/src/share/field/field_monotonicity_check.hpp
  components/scream/src/share/field/field_positivity_check.hpp
  components/scream/src/share/field/field_property_check.hpp
  components/scream/src/share/field/field_repository.hpp
  components/scream/src/share/field/field_tracking.cpp
  components/scream/src/share/field/field_tracking.hpp
  components/scream/src/share/field/field_within_interval_check.hpp
  components/scream/src/share/grid/abstract_grid.hpp
  components/scream/src/share/io/output_manager.hpp
  components/scream/src/share/io/tests/io.cpp
  components/scream/src/share/io/tests/restart.cpp
  components/scream/src/share/tests/field_tests.cpp
  components/scream/src/share/util/map_key_iterator.hpp
Labels: AT: AUTOMERGE, Atmosphere Driver, enhancement, infrastructure, priority:high

#886 dump-scream-env: New tool for dumping SCREAM-approved env for a machine
  components/scream/scripts/machines_specs.py
  components/scream/scripts/scream-env-cmd
  components/scream/scripts/test-all-scream
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE

#874 Aarondonahue/p3 ice supsat fix
  components/eam/src/physics/cam/micro_p3.F90
  components/scream/src/physics/p3/CMakeLists.txt
  components/scream/src/physics/p3/p3_functions.hpp
  components/scream/src/physics/p3/p3_functions_f90.cpp
  components/scream/src/physics/p3/p3_functions_f90.hpp
  components/scream/src/physics/p3/p3_ice_supersat_conservation_impl.hpp
  components/scream/src/physics/p3/p3_iso_c.f90
  components/scream/src/physics/p3/p3_iso_f.f90
  components/scream/src/physics/p3/p3_main_impl.hpp
  components/scream/src/physics/p3/p3_water_vapor_conservation.cpp
  components/scream/src/physics/p3/p3_water_vapor_conservation_impl.hpp
  components/scream/src/physics/p3/tests/CMakeLists.txt
  components/scream/src/physics/p3/tests/p3_ice_supersat_conservation_tests.cpp
  components/scream/src/physics/p3/tests/p3_unit_tests_common.hpp
  components/scream/src/physics/p3/tests/p3_water_vapor_conservation_tests.cpp
Labels: AT: AUTOMERGE, Non-B4B, bug, p3

#887 Use workspace for local variables
  components/scream/src/physics/shoc/shoc_assumed_pdf_impl.hpp
  components/scream/src/physics/shoc/shoc_diag_second_shoc_moments_impl.hpp
  components/scream/src/physics/shoc/shoc_diag_third_shoc_moments_impl.hpp
  components/scream/src/physics/shoc/shoc_energy_fixer_impl.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_length_impl.hpp
  components/scream/src/physics/shoc/shoc_main_impl.hpp
  components/scream/src/physics/shoc/shoc_pblintd_impl.hpp
  components/scream/src/physics/shoc/shoc_tke_impl.hpp
  components/scream/src/physics/shoc/shoc_update_prognostics_implicit_impl.hpp
Labels: AT: AUTOMERGE, B4B, shoc

#882 Refactor SHOC-AD interface
  components/scream/src/physics/shoc/CMakeLists.txt
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/src/physics/shoc/shoc_functions.hpp
  components/scream/src/physics/shoc/shoc_functions_f90.cpp
  components/scream/src/physics/shoc/shoc_inputs_initializer.cpp
  components/scream/src/physics/shoc/shoc_inputs_initializer.hpp
  components/scream/src/physics/shoc/shoc_main_impl.hpp
  components/scream/tests/CMakeLists.txt
  components/scream/tests/scream_p3_shoc/CMakeLists.txt
  components/scream/tests/scream_shoc/CMakeLists.txt
  components/scream/tests/scream_shoc/input.yaml
  components/scream/tests/scream_shoc/shoc_stand_alone.cpp
Labels: AT: AUTOMERGE, Atmosphere Driver, shoc

#895 SCREAM: fix env setup for summit
  components/scream/scripts/machines_specs.py
Labels: AT: AUTOMERGE, CI: Integrate Without Testing, scripts
