Repository E3SM-Project/scream, pull requests merged in 2022-07, with the labels that each got.

#1747 Add new SCREAM_TEST_LEVEL concept
  components/scream/CMakeLists.txt
  components/scream/cmake/ScreamUtils.cmake
  components/scream/scripts/jenkins/jenkins_common_impl.sh
  components/scream/scripts/scripts-tests
  components/scream/scripts/test-all-scream
  components/scream/scripts/test_all_scream.py
  components/scream/src/physics/CMakeLists.txt
  components/scream/src/scream_config.h.in
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_p3_rrtmgp/CMakeLists.txt
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp/CMakeLists.txt
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_128levels/CMakeLists.txt
  components/scream/tests/coupled/physics_only/shoc_cld_p3_rrtmgp/CMakeLists.txt
  components/scream/tests/coupled/physics_only/shoc_cld_spa_p3_rrtmgp/CMakeLists.txt
  components/scream/tests/meta-tests/CMakeLists.txt
  components/scream/tests/meta-tests/test_level_check/CMakeLists.txt
  components/scream/tests/meta-tests/test_level_check/at_unit.cpp
  components/scream/tests/meta-tests/test_level_check/experimental_unit.cpp
  components/scream/tests/meta-tests/test_level_check/nightly_unit.cpp
  components/scream/tests/uncoupled/CMakeLists.txt
  components/scream/tests/uncoupled/homme/CMakeLists.txt
  components/scream/tests/uncoupled/p3/CMakeLists.txt
  components/scream/tests/uncoupled/rrtmgp/CMakeLists.txt
  components/scream/tests/uncoupled/shoc/CMakeLists.txt
  components/scream/tests/uncoupled/spa/CMakeLists.txt
  components/scream/tests/uncoupled/zm/CMakeLists.txt
Labels: AT: AUTOMERGE, scripts, AT: Skip weaver, AT: Skip blake

#1765 Fix jenkins script's test-all-scream args
  components/scream/scripts/jenkins/jenkins_common_impl.sh
Labels: AT: AUTOMERGE, scripts

#1766 Fix order for parallel loops in radiation interface
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
Labels: B4B, AT: AUTOMERGE, bugfix, performance

#1777 Get scream CIME cases building on summit
  cime_config/machines/config_machines.xml
  components/scream/cmake/machine-files/ascent.cmake
Labels: AT: AUTOMERGE, AT: Integrate Without Testing

#1775 Minor EAM fixes to facilitate merge to upstream
  components/eam/src/dynamics/se/se_single_column_mod.F90
  components/eam/src/physics/cam/shoc_intr.F90
  components/eam/src/physics/crm/cloud_diagnostics.F90
  components/eam/src/physics/crm/rrtmgp/radiation.F90
Labels: B4B, AT: AUTOMERGE, CIME

#1779 EAMxx:: fix warning in atm_manip.py
  components/scream/scripts/atm_manip.py
Labels: AT: AUTOMERGE, bugfix, scripts, AT: Skip Stand-Alone Testing

#1783 Fix inherited items with selectors
  components/scream/cime_config/buildnml
  components/scream/cime_config/eamxx_buildnml_impl.py
Labels: AT: AUTOMERGE, CIME, AT: Skip weaver, AT: Skip blake, AT: Skip Stand-Alone Testing

#1773 Fix how precipitation is handled so that it is still correct with subcycling.
  components/scream/cime_config/namelist_defaults_scream.xml
  components/scream/data/scream_default_output.yaml
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/control/surface_coupling.cpp
  components/scream/src/control/surface_coupling.hpp
  components/scream/src/control/surface_coupling_export.cpp
  components/scream/src/control/tests/sc_tests.cpp
  components/scream/src/mct_coupling/scream_cxx_f90_interface.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.hpp
  components/scream/src/physics/p3/atmosphere_microphysics_run.cpp
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_p3_rrtmgp/homme_shoc_cld_p3_rrtmgp_output.yaml
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp/homme_shoc_cld_spa_p3_rrtmgp_output.yaml
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_128levels/homme_shoc_cld_spa_p3_rrtmgp_128levels_output.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/input_baseline.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/input_initial.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/model_output.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/model_restart_output.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_p3_rrtmgp/shoc_cld_p3_rrtmgp_output.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_spa_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_spa_p3_rrtmgp/shoc_cld_spa_p3_rrtmgp_output.yaml
  components/scream/tests/uncoupled/p3/input.yaml
  components/scream/tests/uncoupled/p3/p3_standalone_output.yaml
Labels: Non-B4B, p3, AT: AUTOMERGE, Surface Coupling

#1787 Add hooks for using atmchange within testmods
  components/scream/cime_config/buildnml
  components/scream/cime_config/config_component.xml
  components/scream/cime_config/testdefs/testmods_dirs/scream/scream_example_testmod_atmchange/shell_commands
  components/scream/cime_config/testdefs/testmods_dirs/scream/scream_example_testmod_cmake/shell_commands
Labels: AT: AUTOMERGE, CIME, AT: Skip weaver, AT: Skip blake, AT: Skip Stand-Alone Testing

#1764 Make initialization easier for EAMxx
  components/scream/cime_config/namelist_defaults_scream.xml
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/control/atmosphere_driver.hpp
  components/scream/src/control/tests/ad_tests.yaml
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/dynamics_driven_grids_manager.cpp
  components/scream/src/dynamics/homme/interface/homme_params_mod.F90
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_128levels/input.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/input_baseline.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/input_initial.yaml
  components/scream/tests/coupled/physics_only/atm_proc_subcycling/input.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_spa_p3_rrtmgp/input.yaml
  components/scream/tests/uncoupled/cld_fraction/input.yaml
  components/scream/tests/uncoupled/p3/input.yaml
  components/scream/tests/uncoupled/rrtmgp/input.yaml
  components/scream/tests/uncoupled/rrtmgp/input_unit.yaml
  components/scream/tests/uncoupled/shoc/input.yaml
Labels: Non-B4B, CIME

#1761 Add water path diagnostics
  components/scream/src/diagnostics/CMakeLists.txt
  components/scream/src/diagnostics/ice_water_path.cpp
  components/scream/src/diagnostics/ice_water_path.hpp
  components/scream/src/diagnostics/liquid_water_path.cpp
  components/scream/src/diagnostics/liquid_water_path.hpp
  components/scream/src/diagnostics/rain_water_path.cpp
  components/scream/src/diagnostics/rain_water_path.hpp
  components/scream/src/diagnostics/register_diagnostics.hpp
  components/scream/src/diagnostics/tests/CMakeLists.txt
  components/scream/src/diagnostics/tests/water_path_tests.cpp
  components/scream/src/diagnostics/vapor_water_path.cpp
  components/scream/src/diagnostics/vapor_water_path.hpp
Labels: AT: AUTOMERGE, diagnostic, AT: Skip v1 Testing

#1801 Fix to water path diagnostics and tests
  components/scream/src/diagnostics/ice_water_path.cpp
  components/scream/src/diagnostics/liquid_water_path.cpp
  components/scream/src/diagnostics/rain_water_path.cpp
  components/scream/src/diagnostics/tests/water_path_tests.cpp
  components/scream/src/diagnostics/vapor_water_path.cpp
Labels: B4B, AT: AUTOMERGE, bugfix, diagnostic

#1795 Add ifdef guard around gptl init to reduce warning messages
  components/scream/src/share/util/scream_timing.cpp
Labels: AT: AUTOMERGE, bugfix, SCREAMv1

#1800 SCREAM: fix jenkins test script
  components/scream/scripts/jenkins/jenkins_common_impl.sh
Labels: testing, AT: AUTOMERGE, scripts, AT: Skip Stand-Alone Testing, AT: Skip v1 Testing

#1804 Fixes the sc_ut test which was failing on GPU's
  components/scream/src/control/tests/sc_tests.cpp
Labels: B4B, AT: AUTOMERGE, bugfix, AT: Skip v1 Testing

#1808 This commit fixes an issue in the dynamics interface that caused GPU machines to fail.
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
Labels: AT: AUTOMERGE, bugfix, dynamics

#1805 Avoid computation of l_Faxa_rain and l_Faxa_snow if not in init_phase as dt could be 0 (not set)
  components/scream/src/control/surface_coupling_export.cpp
Labels: AT: AUTOMERGE, bugfix, Surface Coupling

#1809 Remove redundant hyam and hybm variables from SPA interface.
  components/scream/src/physics/spa/atmosphere_prescribed_aerosol.cpp
Labels: B4B, AT: AUTOMERGE, bugfix, SPA

#1811 Make the handling of the diagnostic timestamp more robust.
  components/scream/src/diagnostics/atm_density.cpp
  components/scream/src/diagnostics/atm_density.hpp
  components/scream/src/diagnostics/dry_static_energy.cpp
  components/scream/src/diagnostics/dry_static_energy.hpp
  components/scream/src/diagnostics/exner.cpp
  components/scream/src/diagnostics/exner.hpp
  components/scream/src/diagnostics/ice_water_path.cpp
  components/scream/src/diagnostics/ice_water_path.hpp
  components/scream/src/diagnostics/liquid_water_path.cpp
  components/scream/src/diagnostics/liquid_water_path.hpp
  components/scream/src/diagnostics/potential_temperature.cpp
  components/scream/src/diagnostics/potential_temperature.hpp
  components/scream/src/diagnostics/rain_water_path.cpp
  components/scream/src/diagnostics/rain_water_path.hpp
  components/scream/src/diagnostics/sea_level_pressure.cpp
  components/scream/src/diagnostics/sea_level_pressure.hpp
  components/scream/src/diagnostics/tests/atm_density_test.cpp
  components/scream/src/diagnostics/tests/dry_static_energy_test.cpp
  components/scream/src/diagnostics/tests/exner_test.cpp
  components/scream/src/diagnostics/tests/potential_temperature_test.cpp
  components/scream/src/diagnostics/tests/sea_level_pressure_test.cpp
  components/scream/src/diagnostics/tests/vertical_layer_interface_test.cpp
  components/scream/src/diagnostics/tests/vertical_layer_midpoint_test.cpp
  components/scream/src/diagnostics/tests/vertical_layer_thickness_test.cpp
  components/scream/src/diagnostics/tests/virtual_temperature_test.cpp
  components/scream/src/diagnostics/tests/water_path_tests.cpp
  components/scream/src/diagnostics/vapor_water_path.cpp
  components/scream/src/diagnostics/vapor_water_path.hpp
  components/scream/src/diagnostics/vertical_layer_interface.cpp
  components/scream/src/diagnostics/vertical_layer_interface.hpp
  components/scream/src/diagnostics/vertical_layer_midpoint.cpp
  components/scream/src/diagnostics/vertical_layer_midpoint.hpp
  components/scream/src/diagnostics/vertical_layer_thickness.cpp
  components/scream/src/diagnostics/vertical_layer_thickness.hpp
  components/scream/src/diagnostics/virtual_temperature.cpp
  components/scream/src/diagnostics/virtual_temperature.hpp
  components/scream/src/share/atm_process/atmosphere_diagnostic.cpp
  components/scream/src/share/atm_process/atmosphere_diagnostic.hpp
  components/scream/src/share/io/scorpio_output.cpp
  components/scream/src/share/io/tests/io.cpp
  components/scream/src/share/tests/atm_process_tests.cpp
Labels: I/O, AT: AUTOMERGE, bugfix, diagnostic

#1814 test-all-scream significant refactor
  components/scream/scripts/jenkins/jenkins_common_impl.sh
  components/scream/scripts/scripts-tests
  components/scream/scripts/test-all-scream
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE, scripts

#1789 Fix homme restart of nstep
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/control/tests/sc_tests.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/interface/homme_driver_mod.F90
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/src/share/atm_process/atmosphere_process.hpp
  components/scream/src/share/atm_process/atmosphere_process_group.cpp
  components/scream/src/share/io/scream_output_manager.cpp
  components/scream/src/share/io/scream_output_manager.hpp
Labels: infrastructure, homme, I/O, AT: AUTOMERGE, bugfix

#1817 Fix three diagnostic tests that were failing the cuda_mem_check test on GPU
  components/scream/src/diagnostics/dry_static_energy.cpp
  components/scream/src/diagnostics/vertical_layer_interface.cpp
  components/scream/src/diagnostics/vertical_layer_midpoint.cpp
Labels: AT: AUTOMERGE, bugfix, valgrind / cuda-memcheck

#1818 Allow scientific notation for integers in buildnml/atmchange/atmquery scripts
  components/scream/cime_config/eamxx_buildnml_impl.py
Labels: enhancement, AT: AUTOMERGE, scripts, AT: Skip Stand-Alone Testing

#1819 EAMxx: improved output of jenkins script
  components/scream/scripts/jenkins/jenkins_common_impl.sh
Labels: AT: AUTOMERGE, scripts

#1822 test-all-scream: fixes for recent refactor PR
  components/scream/scripts/jenkins/jenkins_common_impl.sh
  components/scream/scripts/test-all-scream
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE, scripts

#1827 Fix find_filename_in_rpointer on Perlmutter.
  components/scream/src/share/io/scream_io_utils.cpp
Labels: AT: AUTOMERGE, Perlmutter
