Repository E3SM-Project/scream, pull requests merged in 2022-08, with the labels that each got.

#1830 Bugfix to check_energy in EAM
  components/eam/src/physics/cam/check_energy.F90
Labels: B4B, AT: AUTOMERGE, bugfix, SCREAMv0, AT: Skip Stand-Alone Testing, AT: Skip v1 Testing

#1826 mem_check tests need to use different build dirs
  components/scream/scripts/scripts-tests
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE, scripts

#1831 EAMxx: Integrate pg2 and SL transport into SCREAMv1.
  cime_config/tests.py
  components/scream/cime_config/buildnml
  components/scream/cime_config/namelist_defaults_scream.xml
  components/scream/data/scream_default_output.yaml
  components/scream/src/control/CMakeLists.txt
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/control/fvphyshack.cpp
  components/scream/src/control/fvphyshack.hpp
  components/scream/src/dynamics/homme/CMakeLists.txt
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.hpp
  components/scream/src/dynamics/homme/atmosphere_dynamics_fv_phys.cpp
  components/scream/src/dynamics/homme/dynamics_driven_grids_manager.cpp
  components/scream/src/dynamics/homme/interface/homme_driver_mod.F90
  components/scream/src/dynamics/homme/interface/phys_grid_mod.F90
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/spa/atmosphere_prescribed_aerosol.cpp
  components/scream/src/share/atm_process/atmosphere_process.cpp
  components/scream/src/share/atm_process/atmosphere_process.hpp
Labels: SCREAMv1

#1794 Fix regex for ELM use cases for SCREAM compsets
  components/elm/cime_config/config_component.xml
  components/scream/cime_config/namelist_defaults_scream.xml
Labels: Non-B4B, CIME

#1820 Fix FieldGroup cloning method
  components/scream/cime_config/buildnml
  components/scream/cime_config/namelist_defaults_scream.xml
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/physics/p3/atmosphere_microphysics_run.cpp
  components/scream/src/share/atm_process/atmosphere_process_dag.cpp
  components/scream/src/share/atm_process/atmosphere_process_dag.hpp
  components/scream/src/share/field/field.cpp
  components/scream/src/share/field/field_group.cpp
  components/scream/src/share/field/field_group_info.hpp
  components/scream/src/share/tests/atm_process_tests.cpp
  components/scream/src/share/tests/field_tests.cpp
Labels: infrastructure, Non-B4B, bugfix, SCREAMv1

#1840 Jgfouca/upstream merge 2022 08 04
  cime_config/allactive/config_pesall.xml
  cime_config/machines/cmake_macros/amdclang_crusher.cmake
  cime_config/machines/cmake_macros/crayclang_crusher.cmake
  cime_config/machines/cmake_macros/pgi_ascent.cmake
  cime_config/machines/cmake_macros/pgi_summit-cpu.cmake
  cime_config/machines/config_machines.xml
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/cime_config/config_pes.xml
  components/eam/src/physics/cam/phys_grid.F90
  components/elm/cime_config/config_pes.xml
  components/elm/cime_config/testdefs/testmods_dirs/elm/erosion/shell_commands
  components/elm/src/biogeochem/EcosystemDynMod.F90
  components/elm/src/biogeochem/GapMortalityMod.F90
  components/elm/src/biogeophys/BalanceCheckMod.F90
  components/elm/src/biogeophys/CanopyFluxesMod.F90
  components/elm/src/biogeophys/CanopyHydrologyMod.F90
  components/elm/src/biogeophys/HydrologyDrainageMod.F90
  components/elm/src/main/elm_initializeMod.F90
  components/elm/src/main/elm_varsur.F90
  components/elm/src/main/surfrdMod.F90
  components/elm/src/utils/domainMod.F90
Labels: AT: RETEST, AT: AUTOMERGE, CIME, AT: Skip weaver, AT: Skip blake, SCREAMv0, SCREAMv1, AT: Skip Stand-Alone Testing

#1843 Bug fix to calculate_dx
  components/eam/src/physics/cam/shoc_intr.F90
  components/scream/src/share/tests/common_physics_functions_tests.cpp
  components/scream/src/share/util/scream_common_physics_functions_impl.hpp
Labels: shoc, AT: AUTOMERGE, bugfix

#1825 This PR ensures that SCORPIO time indices are 0-based in C++ and 1-based in Fortran.
  components/scream/src/physics/spa/spa_functions_impl.hpp
  components/scream/src/physics/spa/tests/spa_one_to_one_remap_test.cpp
  components/scream/src/physics/spa/tests/spa_read_data_from_file_test.cpp
  components/scream/src/share/io/scorpio_input.cpp
  components/scream/src/share/io/scream_scorpio_interface.F90
  components/scream/src/share/io/scream_scorpio_interface.cpp
  components/scream/src/share/io/scream_scorpio_interface.hpp
  components/scream/src/share/io/scream_scorpio_interface_iso_c2f.F90
  components/scream/src/share/io/tests/io.cpp
Labels: B4B, AT: AUTOMERGE, bugfix

#1841 Remove extra rad2deg conversion in MCT interface layer
  components/scream/src/mct_coupling/atm_comp_mct.F90
Labels: Non-B4B, AT: AUTOMERGE, bugfix, AT: Skip Stand-Alone Testing

#1849 Clean up summit machines
  cime_config/machines/Depends.summit-gpu.cmake
  cime_config/machines/Depends.summit.cmake
  cime_config/machines/cmake_macros/gnu_summit.cmake
  cime_config/machines/cmake_macros/gnugpu_summit.cmake
  cime_config/machines/cmake_macros/ibm_summit.cmake
  cime_config/machines/cmake_macros/pgi_summit.cmake
  cime_config/machines/cmake_macros/pgigpu_summit.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_compilers.xml
  cime_config/machines/config_machines.xml
  components/scream/cmake/machine-files/ascent.cmake
  components/scream/cmake/machine-files/summit-cpu.cmake
  components/scream/cmake/machine-files/summit-gpu.cmake
  components/scream/cmake/machine-files/summit.cmake
Labels: AT: Integrate Without Testing

#1835 Compute pref_mid
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/dynamics_driven_grids_manager.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/src/share/grid/abstract_grid.cpp
  components/scream/src/share/grid/abstract_grid.hpp
  components/scream/src/share/grid/point_grid.cpp
  components/scream/src/share/grid/point_grid.hpp
  components/scream/src/share/grid/se_grid.cpp
  components/scream/src/share/grid/se_grid.hpp
  components/scream/tests/coupled/physics_only/atm_proc_subcycling/input.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_spa_p3_rrtmgp/input.yaml
  components/scream/tests/uncoupled/shoc/input.yaml
Labels: Non-B4B, bugfix, SCREAMv1

#1837 Changes to PropertyCheck classes
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/physics/cld_fraction/atmosphere_cld_fraction.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/spa/atmosphere_prescribed_aerosol.cpp
  components/scream/src/share/atm_process/atmosphere_process.cpp
  components/scream/src/share/property_checks/check_and_repair_wrapper.hpp
  components/scream/src/share/property_checks/field_lower_bound_check.hpp
  components/scream/src/share/property_checks/field_nan_check.cpp
  components/scream/src/share/property_checks/field_nan_check.hpp
  components/scream/src/share/property_checks/field_positivity_check.hpp
  components/scream/src/share/property_checks/field_upper_bound_check.hpp
  components/scream/src/share/property_checks/field_within_interval_check.cpp
  components/scream/src/share/property_checks/field_within_interval_check.hpp
  components/scream/src/share/property_checks/property_check.cpp
  components/scream/src/share/property_checks/property_check.hpp
  components/scream/src/share/tests/atm_process_tests.cpp
  components/scream/src/share/tests/property_checks.cpp
Labels: infrastructure, Non-B4B, AT: AUTOMERGE, bugfix, AT: Skip mappy

#1850 Always ensure csm_share is available
  components/scream/cmake/tpls/CsmShare.cmake
  components/scream/src/CMakeLists.txt
  components/scream/src/physics/rrtmgp/CMakeLists.txt
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/share/CMakeLists.txt
  components/scream/src/physics/rrtmgp/shr_orb_mod_c2f.F90
  components/scream/src/physics/rrtmgp/shr_orb_mod_c2f.hpp
  components/scream/src/physics/rrtmgp/tests/rrtmgp_unit_tests.cpp
Labels: infrastructure, B4B, AT: AUTOMERGE

#1852 EAMxx: some changes to where/how the tpl targets are created
  components/scream/CMakeLists.txt
  components/scream/cmake/tpls/CsmShare.cmake
  components/scream/cmake/tpls/GPTL.cmake
  components/scream/cmake/tpls/Mct.cmake
  components/scream/cmake/tpls/Scorpio.cmake
  components/scream/src/CMakeLists.txt
  components/scream/src/mct_coupling/CMakeLists.txt
  components/scream/src/share/CMakeLists.txt
  components/scream/src/share/io/CMakeLists.txt
  components/scream/tpls/CMakeLists.txt
Labels: cmake, B4B, AT: AUTOMERGE, code cleanup, AT: Skip mappy, AT: Skip blake

#1855 Switch PEM test from ne30 to ne30pg2.
  cime_config/tests.py
Labels: testing

#1860 Turn off baseline tests correctly when mem_check is on
  components/scream/scripts/test_all_scream.py
Labels: AT: AUTOMERGE, scripts

#1859 Use 64bits integers for offsets inside scorpio interface
  components/scream/src/physics/spa/spa_functions_impl.hpp
  components/scream/src/share/io/scorpio_input.cpp
  components/scream/src/share/io/scorpio_input.hpp
  components/scream/src/share/io/scorpio_output.cpp
  components/scream/src/share/io/scorpio_output.hpp
  components/scream/src/share/io/scream_output_manager.cpp
  components/scream/src/share/io/scream_scorpio_interface.F90
  components/scream/src/share/io/scream_scorpio_interface.cpp
  components/scream/src/share/io/scream_scorpio_interface.hpp
  components/scream/src/share/io/scream_scorpio_interface_iso_c2f.F90
Labels: I/O, bugfix

#1863 Pass in smaller extent (to ncol) for certain arrays to clip_values (affecting v0)
  components/eam/src/physics/rrtmgp/radiation.F90
Labels: radiation, AT: AUTOMERGE, SCREAMv0

#1780 SurfaceCoupling as an ATM process
  components/scream/cime_config/namelist_defaults_scream.xml
  components/scream/src/control/CMakeLists.txt
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/control/atmosphere_driver.hpp
  components/scream/src/control/atmosphere_surface_coupling_exporter.cpp
  components/scream/src/control/atmosphere_surface_coupling_exporter.hpp
  components/scream/src/control/atmosphere_surface_coupling_importer.cpp
  components/scream/src/control/atmosphere_surface_coupling_importer.hpp
  components/scream/src/control/register_surface_coupling.hpp
  components/scream/src/control/surface_coupling.cpp
  components/scream/src/control/surface_coupling.hpp
  components/scream/src/control/surface_coupling_export.cpp
  components/scream/src/control/surface_coupling_utils.cpp
  components/scream/src/control/surface_coupling_utils.hpp
  components/scream/src/control/tests/CMakeLists.txt
  components/scream/src/control/tests/sc_tests.cpp
  components/scream/src/mct_coupling/atm_comp_mct.F90
  components/scream/src/mct_coupling/scream_cpl_indices.F90
  components/scream/src/mct_coupling/scream_cxx_f90_interface.cpp
  components/scream/src/mct_coupling/scream_f2c_mod.F90
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/share/atm_process/SCDataManager.hpp
  components/scream/src/share/atm_process/atmosphere_process.cpp
  components/scream/src/share/atm_process/atmosphere_process.hpp
  components/scream/src/share/atm_process/atmosphere_process_group.hpp
  components/scream/src/share/atm_process/atmosphere_process_utils.hpp
  components/scream/src/share/field/field.hpp
  components/scream/tests/coupled/CMakeLists.txt
  components/scream/tests/coupled/surface_coupling_only/CMakeLists.txt
  components/scream/tests/coupled/surface_coupling_only/input.yaml
  components/scream/tests/coupled/surface_coupling_only/surface_coupling.cpp
  components/scream/tests/coupled/surface_coupling_only/surface_coupling_output.yaml
Labels: B4B, AT: AUTOMERGE, CIME

#1864 Increased postcondition tolerances to avoid nuisance crashes
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
Labels: testing, B4B, AT: AUTOMERGE

#1867 Fixes to random single-prec test fails in shoc and p3
  components/scream/src/physics/p3/p3_evaporate_rain_impl.hpp
  components/scream/src/physics/p3/p3_ice_collection_impl.hpp
  components/scream/src/physics/p3/p3_ice_deposition_sublimation_impl.hpp
  components/scream/src/physics/p3/p3_ice_sed_impl.hpp
  components/scream/src/physics/p3/p3_prevent_liq_supersaturation_impl.hpp
  components/scream/src/physics/shoc/tests/shoc_update_prognostics_implicit_tests.cpp
Labels: AT: AUTOMERGE

#1862 Scream/new quartz mach files for gcc-specific flags
  components/scream/cmake/machine-files/quartz-gcc.cmake
  components/scream/cmake/machine-files/quartz-intel.cmake
  components/scream/cmake/machine-files/quartz.cmake
  components/scream/scripts/machines_specs.py
Labels: B4B, Machine File, AT: AUTOMERGE, AT: Integrate Without Testing

#1865 EAMxx: make radiation process columns in chunks
  components/scream/cime_config/namelist_defaults_scream.xml
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.hpp
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_128levels/input.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_spa_p3_rrtmgp/input.yaml
  components/scream/tests/uncoupled/rrtmgp/CMakeLists.txt
  components/scream/tests/uncoupled/rrtmgp/input.yaml
  components/scream/tests/uncoupled/rrtmgp/input_unit.yaml
  components/scream/tests/uncoupled/rrtmgp/rrtmgp_standalone.cpp
  components/scream/tests/uncoupled/rrtmgp/rrtmgp_standalone_output.yaml
Labels: enhancement, B4B, radiation, priority:high, memory

#1858 Adds pami lib to jsrun for the summit machine file
  components/scream/cmake/machine-files/summit.cmake
Labels: cmake, B4B, Machine File, AT: AUTOMERGE, bugfix, AT: Integrate Without Testing

#1861 Change to use mosart and mpassi for F2010-SCREAMv1 and update the tests
  cime_config/testmods_dirs/atmlndactive/rtm_off/README
  cime_config/testmods_dirs/atmlndactive/rtm_off/user_nl_mosart
  cime_config/tests.py
  components/scream/cime_config/config_compsets.xml
Labels: Non-B4B, SCREAMv1

#1876 Add calendar information to time variable in output NC files
  components/scream/src/share/io/scream_output_manager.cpp
  components/scream/src/share/io/scream_scorpio_interface.F90
  components/scream/src/share/io/scream_scorpio_interface.cpp
  components/scream/src/share/io/scream_scorpio_interface.hpp
  components/scream/src/share/io/scream_scorpio_interface_iso_c2f.F90
  components/scream/src/share/tests/utils_tests.cpp
  components/scream/src/share/util/scream_time_stamp.cpp
Labels: enhancement, I/O, AT: AUTOMERGE, bugfix

#1875 EAMxx: make buildnml leave original output yaml files unchanged
  components/scream/cime_config/buildnml
  components/scream/cime_config/namelist_defaults_scream.xml
Labels: enhancement, AT: AUTOMERGE, scripts, AT: Skip Stand-Alone Testing

#1879 Revert "Change to use mosart and mpassi for F2010-SCREAMv1 and update the tests"
  cime_config/testmods_dirs/atmlndactive/rtm_off/README
  cime_config/testmods_dirs/atmlndactive/rtm_off/user_nl_mosart
  cime_config/tests.py
  components/scream/cime_config/config_compsets.xml
Labels: Non-B4B, bugfix

#1873 EAMxx: use a single GasConcs object in RRTMGPRadiation
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.hpp
Labels: enhancement, B4B, radiation, AT: AUTOMERGE, memory

#1890 EAMxx: better formatting for atmquery output
  components/scream/scripts/atm_manip.py
  components/scream/scripts/atmquery
Labels: enhancement, AT: AUTOMERGE, scripts, AT: Skip Stand-Alone Testing, AT: Skip v1 Testing

#1893 Fixes to atmchange/atmquery
  components/scream/scripts/atm_manip.py
  components/scream/scripts/atmchange
  components/scream/scripts/atmquery
Labels: AT: AUTOMERGE, bugfix, AT: Integrate Without Testing, scripts

#1888 EAMxx: Wire se_ftype=2.
  components/scream/cime_config/namelist_defaults_scream.xml
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/interface/homme_driver_mod.F90
  components/scream/src/dynamics/homme/interface/scream_homme_interface.hpp
Labels: enhancement, Non-B4B, AT: WIP, SCREAMv1

#1897 Add append feature to atmchange
  components/scream/scripts/atm_manip.py
  components/scream/scripts/atmchange
Labels: enhancement, AT: AUTOMERGE, scripts, AT: Skip Stand-Alone Testing, AT: Skip v1 Testing

#1762 Set up infrastructure to write output with a frequency other than steps.
  cime_config/tests.py
  components/scream/cime_config/namelist_defaults_scream.xml
  components/scream/data/scream_default_output.yaml
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/dynamics/homme/tests/dyn_grid_io.cpp
  components/scream/src/share/io/scorpio_output.hpp
  components/scream/src/share/io/scream_io_utils.hpp
  components/scream/src/share/io/scream_output_manager.cpp
  components/scream/src/share/io/scream_output_manager.hpp
  components/scream/src/share/io/tests/CMakeLists.txt
  components/scream/src/share/io/tests/io.cpp
  components/scream/src/share/io/tests/io_se_grid.cpp
  components/scream/src/share/io/tests/io_test_average.yaml
  components/scream/src/share/io/tests/io_test_control.yaml
  components/scream/src/share/io/tests/io_test_max.yaml
  components/scream/src/share/io/tests/io_test_min.yaml
  components/scream/src/share/io/tests/io_test_multisnap.yaml
  components/scream/src/share/io/tests/io_test_restart.yaml
  components/scream/src/share/io/tests/io_test_restart_check.yaml
  components/scream/src/share/io/tests/io_test_se_grid.yaml
  components/scream/src/share/io/tests/io_test_template.yaml
  components/scream/tests/coupled/CMakeLists.txt
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_p3_rrtmgp/CMakeLists.txt
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_p3_rrtmgp/homme_shoc_cld_p3_rrtmgp_output.yaml
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp/CMakeLists.txt
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp/homme_shoc_cld_spa_p3_rrtmgp_output.yaml
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_128levels/CMakeLists.txt
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_128levels/homme_shoc_cld_spa_p3_rrtmgp_128levels_output.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/CMakeLists.txt
  components/scream/tests/coupled/dynamics_physics/model_restart/input_initial.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/model_output.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/model_restart_output.yaml
  components/scream/tests/coupled/physics_only/atm_proc_subcycling/CMakeLists.txt
  components/scream/tests/coupled/physics_only/atm_proc_subcycling/output.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_p3_rrtmgp/CMakeLists.txt
  components/scream/tests/coupled/physics_only/shoc_cld_p3_rrtmgp/shoc_cld_p3_rrtmgp_output.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_spa_p3_rrtmgp/CMakeLists.txt
  components/scream/tests/coupled/physics_only/shoc_cld_spa_p3_rrtmgp/shoc_cld_spa_p3_rrtmgp_output.yaml
  components/scream/tests/uncoupled/CMakeLists.txt
  components/scream/tests/uncoupled/homme/CMakeLists.txt
  components/scream/tests/uncoupled/homme/homme_standalone_output.yaml
  components/scream/tests/uncoupled/p3/CMakeLists.txt
  components/scream/tests/uncoupled/p3/p3_standalone_output.yaml
  components/scream/tests/uncoupled/rrtmgp/CMakeLists.txt
  components/scream/tests/uncoupled/rrtmgp/rrtmgp_standalone_output.yaml
  components/scream/tests/uncoupled/shoc/CMakeLists.txt
  components/scream/tests/uncoupled/shoc/shoc_standalone_output.yaml
  components/scream/tests/uncoupled/spa/CMakeLists.txt
  components/scream/tests/uncoupled/spa/spa_standalone_output.yaml
  components/scream/tests/uncoupled/surface_coupling/CMakeLists.txt
  components/scream/tests/uncoupled/surface_coupling/input.yaml
  components/scream/tests/uncoupled/surface_coupling/surface_coupling.cpp
  components/scream/tests/uncoupled/surface_coupling/surface_coupling_output.yaml
Labels: enhancement, I/O, priority:high

#1871 Add rayleigh friction to dynamics AD
  components/scream/src/dynamics/homme/CMakeLists.txt
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics.hpp
  components/scream/src/dynamics/homme/atmosphere_dynamics_rayleigh_friction.cpp
  components/scream/src/share/util/scream_common_physics_functions.hpp
  components/scream/src/share/util/scream_common_physics_functions_impl.hpp
  components/scream/tests/uncoupled/homme/homme_standalone.cpp
Labels: enhancement, B4B, AT: AUTOMERGE, Atmosphere Driver, dynamics

#1899 EAMxx: reduce cost of memcheck build
  components/scream/CMakeLists.txt
  components/scream/scripts/jenkins/jenkins_common_impl.sh
  components/scream/tests/CMakeLists.txt
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_p3_rrtmgp/CMakeLists.txt
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp/CMakeLists.txt
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_128levels/CMakeLists.txt
  components/scream/tests/coupled/dynamics_physics/model_restart/CMakeLists.txt
  components/scream/tests/coupled/physics_only/shoc_cld_p3_rrtmgp/CMakeLists.txt
  components/scream/tests/coupled/physics_only/shoc_cld_spa_p3_rrtmgp/CMakeLists.txt
  components/scream/tests/uncoupled/homme/CMakeLists.txt
  components/scream/tests/uncoupled/p3/CMakeLists.txt
  components/scream/tests/uncoupled/rrtmgp/CMakeLists.txt
  components/scream/tests/uncoupled/shoc/CMakeLists.txt
  components/scream/tests/uncoupled/spa/CMakeLists.txt
  components/scream/tests/uncoupled/surface_coupling/CMakeLists.txt
Labels: testing, cmake, AT: AUTOMERGE, AT: Integrate Without Testing, valgrind / cuda-memcheck

#1900 Do not run SCREAM CIME tests in nightly standalone script
  components/scream/scripts/jenkins/jenkins_common_impl.sh
Labels: AT: AUTOMERGE, scripts

#1904 Fix rrtmgp valgrind failure
  components/scream/tests/CMakeLists.txt
  components/scream/tests/uncoupled/rrtmgp/CMakeLists.txt
Labels: cmake, AT: AUTOMERGE, bugfix, valgrind / cuda-memcheck

#1894 EAMxx: in test-all-scream, cat the correct file when ctest fails
  components/scream/scripts/test_all_scream.py
Labels: enhancement, AT: AUTOMERGE, scripts, AT: Skip v1 Testing

#1790 Add trcmix bridge to scream
  components/scream/cime_config/namelist_defaults_scream.xml
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics_fv_phys.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/rrtmgp/CMakeLists.txt
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.hpp
  components/scream/src/physics/share/CMakeLists.txt
  components/scream/src/physics/share/physics_constants.hpp
  components/scream/src/physics/share/scream_trcmix.cpp
  components/scream/src/physics/share/scream_trcmix.hpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/share/util/scream_deep_copy.hpp
  components/scream/tests/CMakeLists.txt
  components/scream/tests/uncoupled/rrtmgp/rrtmgp_standalone_unit.cpp
Labels: Non-B4B

#1902 Use rayleigh friction
  components/scream/src/dynamics/homme/atmosphere_dynamics.cpp
  components/scream/src/dynamics/homme/atmosphere_dynamics_rayleigh_friction.cpp
Labels: enhancement, Non-B4B, Atmosphere Driver, dynamics

#1910 Added F2010-SCREAMv1-MPASSI and tests
  cime_config/testmods_dirs/atmlndactive/rtm_off/README
  cime_config/testmods_dirs/atmlndactive/rtm_off/user_nl_mosart
  cime_config/tests.py
  components/scream/cime_config/config_component.xml
  components/scream/cime_config/config_compsets.xml
Labels: B4B, AT: AUTOMERGE, SCREAMv1, AT: Skip v1 Testing
