Repository E3SM-Project/scream, pull requests merged in 2022-06, with the labels that each got.

#1702 SCREAM: remove some stranded calls to timers routines in homme interface
  components/scream/src/dynamics/homme/interface/homme_driver_mod.F90
Labels: homme, AT: AUTOMERGE, bugfix

#1515 Convert wet mixing ratios to dry mixing ratios for SHOC (Fortran and C++)
  components/eam/src/physics/cam/physics_utils.F90
  components/eam/src/physics/cam/shoc_intr.F90
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
Labels: Non-B4B, shoc, AT: AUTOMERGE, physics, SCREAMv1

#1690 Summit machine configuration and jsrun fixes
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
Labels: Machine File, AT: AUTOMERGE, AT: Integrate Without Testing

#1706 Use non-hydrostatic mode by default for SCREAMv1
  components/scream/cime_config/namelist_defaults_scream.xml
Labels: dynamics, CIME, SCREAMv1

#1703 Fixes an undefined variable in shoc interface
  components/eam/src/physics/cam/shoc_intr.F90
Labels: B4B, shoc, AT: AUTOMERGE, bugfix, CIME, SCREAMv0, AT: Skip Stand-Alone Testing

#1717 Change timesteps run for F2010-SCREAMv1 ERS test
  cime_config/tests.py
Labels: testing, AT: AUTOMERGE, SCREAMv1

#1716 Summit: Set CPU per RS and max tasks per node higher
  cime_config/machines/config_machines.xml
Labels: Machine File, AT: AUTOMERGE, AT: Integrate Without Testing, AT: Skip mappy, AT: Skip weaver, AT: Skip blake, AT: Skip Stand-Alone Testing

#1714 Aarondonahue/revert shoc mmr
  components/eam/src/physics/cam/physics_utils.F90
  components/eam/src/physics/cam/shoc_intr.F90
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
Labels: Non-B4B, shoc, bugfix, SCREAMv0, SCREAMv1

#1687 add summit-cpu machine file, and cpu support
  cime_config/machines/Depends.summit-cpu.cmake
  cime_config/machines/Depends.summit-gpu.cmake
  cime_config/machines/cmake_macros/gnu_summit-cpu.cmake
  cime_config/machines/cmake_macros/gnugpu_summit-gpu.cmake
  cime_config/machines/cmake_macros/ibm_summit-cpu.cmake
  cime_config/machines/cmake_macros/pgi_summit-cpu.cmake
  cime_config/machines/cmake_macros/pgigpu_summit-gpu.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_compilers.xml
  cime_config/machines/config_machines.xml
  components/cmake/build_scream.cmake
  components/scream/CMakeLists.txt
  components/scream/cmake/machine-files/summit-cpu.cmake
  components/scream/cmake/machine-files/summit-gpu.cmake
Labels: cmake, B4B, SCREAMv1, AT: Skip Stand-Alone Testing

#1715 Add `do_aerosol_rad` as an option for SCREAMv1
  components/scream/cime_config/namelist_defaults_scream.xml
  components/scream/data/scream_default_output.yaml
  components/scream/src/physics/p3/atmosphere_microphysics.cpp
  components/scream/src/physics/p3/atmosphere_microphysics.hpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.cpp
  components/scream/src/physics/rrtmgp/atmosphere_radiation.hpp
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_p3_rrtmgp/homme_shoc_cld_p3_rrtmgp_output.yaml
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp/homme_shoc_cld_spa_p3_rrtmgp_output.yaml
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_128levels/homme_shoc_cld_spa_p3_rrtmgp_128levels_output.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/input_baseline.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/input_initial.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/input_restarted.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/model_output.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/model_restart_output.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_p3_rrtmgp/shoc_cld_p3_rrtmgp_output.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_spa_p3_rrtmgp/shoc_cld_spa_p3_rrtmgp_output.yaml
  components/scream/tests/uncoupled/p3/input.yaml
  components/scream/tests/uncoupled/p3/p3_standalone_output.yaml
  components/scream/tests/uncoupled/rrtmgp/input.yaml
  components/scream/tests/uncoupled/rrtmgp/input_unit.yaml
  components/scream/tests/uncoupled/rrtmgp/rrtmgp_standalone_output.yaml
  components/scream/tests/uncoupled/shoc/shoc_standalone_output.yaml
  components/scream/tests/uncoupled/spa/spa_standalone_output.yaml
Labels: enhancement, testing, code quality, B4B, p3, radiation, priority:high, SCREAMv1

#1736 This commit adds a compset that for running SCREAM physics without SPA
  cime_config/machines/config_machines.xml
  cime_config/tests.py
  components/scream/cime_config/config_compsets.xml
  components/scream/cime_config/namelist_defaults_scream.xml
Labels: enhancement, testing, Machine File, AT: RETEST, AT: AUTOMERGE, priority:high, AT: Skip weaver, AT: Skip blake, SCREAMv1, AT: Skip Stand-Alone Testing

#1738 Add PEM test to med res suite
  cime_config/tests.py
Labels: AT: AUTOMERGE, AT: Integrate Without Testing

#1744 Add a default output filename that matches the E3SM casename
  components/scream/cime_config/namelist_defaults_scream.xml
  components/scream/src/control/atmosphere_driver.cpp
  components/scream/src/control/atmosphere_driver.hpp
Labels: enhancement, B4B, I/O, AT: AUTOMERGE, Atmosphere Driver

#1686 Add ne1024np4_oRRS15to5 grid for SCREAMv0
  cime_config/config_grids.xml
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/namelist_definition.xml
Labels: B4B, AT: AUTOMERGE, AT: Skip weaver, AT: Skip Stand-Alone Testing

#1751 Change name of surf_latent_heat to surf_evaporation to match coupler
  components/scream/cime_config/namelist_defaults_scream.xml
  components/scream/src/control/surface_coupling.cpp
  components/scream/src/control/tests/sc_tests.cpp
  components/scream/src/mct_coupling/scream_cpl_indices.F90
  components/scream/src/physics/shoc/atmosphere_macrophysics.cpp
  components/scream/src/physics/shoc/atmosphere_macrophysics.hpp
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_128levels/input.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/input_baseline.yaml
  components/scream/tests/coupled/dynamics_physics/model_restart/input_initial.yaml
  components/scream/tests/coupled/physics_only/atm_proc_subcycling/input.yaml
  components/scream/tests/coupled/physics_only/atm_proc_subcycling/output.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_p3_rrtmgp/input.yaml
  components/scream/tests/coupled/physics_only/shoc_cld_spa_p3_rrtmgp/input.yaml
  components/scream/tests/uncoupled/shoc/input.yaml
Labels: code quality, shoc, AT: AUTOMERGE, CIME, Surface Coupling, SCREAMv1

#1743 Fix scripts-tests of jenkins script
  components/scream/scripts/jenkins/jenkins_common_impl.sh
Labels: AT: AUTOMERGE, scripts, AT: Skip weaver, AT: Skip blake, AT: Skip v1 Testing

#1759 Restore surface fluxes to default output for CIME runs.
  components/scream/data/scream_default_output.yaml
Labels: B4B, AT: AUTOMERGE, priority:high, SCREAMv1, AT: Skip Stand-Alone Testing
