Repository E3SM-Project/scream, pull requests merged in 2023-10, with the labels that each got.

#2561 Default TMS on in CIME runs
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/src/physics/tms/eamxx_tms_process_interface.cpp
Labels: AT: RETEST, Turbulent Mountain Stress (TMS)

#2558 Add max_total_ni as a runtime option in P3
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/src/physics/p3/disp/p3_main_impl_disp.cpp
  components/eamxx/src/physics/p3/disp/p3_main_impl_part2_disp.cpp
  components/eamxx/src/physics/p3/disp/p3_main_impl_part3_disp.cpp
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.cpp
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.hpp
  components/eamxx/src/physics/p3/eamxx_p3_run.cpp
  components/eamxx/src/physics/p3/impl/p3_main_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_main_impl_part2.hpp
  components/eamxx/src/physics/p3/impl/p3_main_impl_part3.hpp
  components/eamxx/src/physics/p3/p3_functions.hpp
  components/eamxx/src/physics/p3/p3_functions_f90.cpp
  components/eamxx/src/physics/p3/tests/p3_unit_tests.cpp
  components/eamxx/src/physics/share/physics_constants.hpp
  components/eamxx/tests/coupled/dynamics_physics/homme_shoc_cld_p3_rrtmgp/input.yaml
  components/eamxx/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp/input.yaml
  components/eamxx/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_128levels/input.yaml
  components/eamxx/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_pg2/input.yaml
  components/eamxx/tests/coupled/dynamics_physics/model_restart/input_baseline.yaml
  components/eamxx/tests/coupled/dynamics_physics/model_restart/input_initial.yaml
  components/eamxx/tests/coupled/dynamics_physics/model_restart/input_restarted.yaml
  components/eamxx/tests/coupled/physics_only/atm_proc_subcycling/input.yaml
  components/eamxx/tests/coupled/physics_only/shoc_cld_p3_rrtmgp/input.yaml
  components/eamxx/tests/coupled/physics_only/shoc_cld_spa_p3_rrtmgp/input.yaml
  components/eamxx/tests/coupled/physics_only/shoc_p3_nudging/input_nudging.yaml
  components/eamxx/tests/coupled/physics_only/shoc_p3_nudging/input_source_data.yaml
  components/eamxx/tests/uncoupled/p3/input.yaml
Labels: BFB, p3, AT: AUTOMERGE

#2563 Avoid applying changes twice in atmchange
  components/eamxx/cime_config/eamxx_buildnml.py
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/scripts/atm_manip.py
  components/eamxx/scripts/atmchange
  components/eamxx/scripts/cime-nml-tests
Labels: AT: AUTOMERGE, bugfix, scripts

#2568 ML correction updates individual wind component
  components/eamxx/src/physics/ml_correction/eamxx_ml_correction_process_interface.cpp
Labels: AT: AUTOMERGE, machine learning

#2557 Update nudging to use correct wind fields `U` and `V`
  components/eamxx/src/physics/nudging/eamxx_nudging_process_interface.cpp
  components/eamxx/src/physics/nudging/tests/nudging_tests.cpp
Labels: AT: AUTOMERGE, nudging

#2569 Expose more tuning parameters for SHOC
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/src/physics/shoc/disp/shoc_diag_second_shoc_moments_disp.cpp
  components/eamxx/src/physics/shoc/disp/shoc_diag_third_shoc_moments_disp.cpp
  components/eamxx/src/physics/shoc/disp/shoc_length_disp.cpp
  components/eamxx/src/physics/shoc/disp/shoc_tke_disp.cpp
  components/eamxx/src/physics/shoc/eamxx_shoc_process_interface.cpp
  components/eamxx/src/physics/shoc/impl/shoc_compute_diag_third_shoc_moment_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_compute_shoc_mix_shoc_length_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_diag_second_moments_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_diag_second_shoc_moments_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_diag_third_shoc_moments_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_eddy_diffusivities_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_length_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_main_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_tke_impl.hpp
  components/eamxx/src/physics/shoc/shoc_constants.hpp
  components/eamxx/src/physics/shoc/shoc_functions.hpp
  components/eamxx/src/physics/shoc/shoc_functions_f90.cpp
  components/eamxx/tests/coupled/dynamics_physics/homme_shoc_cld_p3_rrtmgp/input.yaml
  components/eamxx/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp/input.yaml
  components/eamxx/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_128levels/input.yaml
  components/eamxx/tests/coupled/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_pg2/input.yaml
  components/eamxx/tests/coupled/dynamics_physics/model_restart/input_baseline.yaml
  components/eamxx/tests/coupled/dynamics_physics/model_restart/input_initial.yaml
  components/eamxx/tests/coupled/dynamics_physics/model_restart/input_restarted.yaml
  components/eamxx/tests/coupled/physics_only/atm_proc_subcycling/input.yaml
  components/eamxx/tests/coupled/physics_only/shoc_cld_p3_rrtmgp/input.yaml
  components/eamxx/tests/coupled/physics_only/shoc_cld_spa_p3_rrtmgp/input.yaml
  components/eamxx/tests/coupled/physics_only/shoc_p3_nudging/input_nudging.yaml
  components/eamxx/tests/coupled/physics_only/shoc_p3_nudging/input_source_data.yaml
  components/eamxx/tests/uncoupled/shoc/input.yaml
Labels: BFB, shoc, AT: AUTOMERGE

#2571 Allow to request fields simpy by name and grid
  components/eamxx/src/control/tests/dummy_atm_proc.hpp
  components/eamxx/src/diagnostics/field_at_height.cpp
  components/eamxx/src/diagnostics/field_at_height.hpp
  components/eamxx/src/diagnostics/field_at_level.cpp
  components/eamxx/src/diagnostics/field_at_level.hpp
  components/eamxx/src/diagnostics/field_at_pressure_level.cpp
  components/eamxx/src/diagnostics/field_at_pressure_level.hpp
  components/eamxx/src/diagnostics/tests/field_at_height_tests.cpp
  components/eamxx/src/diagnostics/tests/field_at_level_tests.cpp
  components/eamxx/src/diagnostics/tests/field_at_pressure_level_tests.cpp
  components/eamxx/src/dynamics/homme/interface/homme_params_mod.F90
  components/eamxx/src/share/atm_process/atmosphere_process.hpp
  components/eamxx/src/share/field/field_identifier.hpp
  components/eamxx/src/share/field/field_manager.cpp
  components/eamxx/src/share/field/field_manager.hpp
  components/eamxx/src/share/field/field_request.hpp
  components/eamxx/src/share/io/scorpio_output.cpp
  components/eamxx/src/share/io/scorpio_output.hpp
  components/eamxx/src/share/util/scream_data_type.hpp
Labels: infrastructure, AT: AUTOMERGE

#2572 In buildnml, split apply_buffer in two parts
  components/eamxx/cime_config/eamxx_buildnml.py
  components/eamxx/scripts/atm_manip.py
  components/eamxx/scripts/atmchange
  components/eamxx/scripts/cime-nml-tests
Labels: bugfix, scripts, CIME, AT: Skip Stand-Alone Testing

#2574 Fix issue w/ U and V in nudging process
  components/eamxx/src/physics/nudging/eamxx_nudging_process_interface.cpp
  components/eamxx/src/physics/nudging/eamxx_nudging_process_interface.hpp
  components/eamxx/src/physics/nudging/tests/nudging_tests.cpp
Labels: AT: AUTOMERGE, bugfix, nudging

#2575 Add team_barriers to water path tests
  components/eamxx/src/diagnostics/tests/water_path_tests.cpp
Labels: AT: AUTOMERGE, bugfix

#2579 Add more robust log entries for IO
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/share/io/scorpio_input.cpp
  components/eamxx/src/share/io/scorpio_input.hpp
  components/eamxx/src/share/io/scorpio_output.cpp
  components/eamxx/src/share/io/scorpio_output.hpp
  components/eamxx/src/share/io/scream_output_manager.cpp
Labels: enhancement, I/O, AT: AUTOMERGE

#2584 Fix calculation of tendencies when parent atm proc is subcycled
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/control/atmosphere_driver.hpp
  components/eamxx/src/share/atm_process/atmosphere_process.cpp
  components/eamxx/src/share/atm_process/atmosphere_process.hpp
  components/eamxx/src/share/field/field_tracking.hpp
  components/eamxx/src/share/io/scream_output_manager.cpp
  components/eamxx/tests/coupled/physics_only/atm_proc_subcycling/CMakeLists.txt
  components/eamxx/tests/coupled/physics_only/atm_proc_subcycling/input.yaml
  components/eamxx/tests/coupled/physics_only/atm_proc_subcycling/output.yaml
  components/eamxx/tests/coupled/physics_only/atm_proc_subcycling/output_tend.yaml
Labels: AT: AUTOMERGE, Atmosphere Driver, bugfix

#2576 Overhaul of horizontal (interpolatory) remap
  components/eamxx/CMakeLists.txt
  components/eamxx/src/diagnostics/tests/water_path_tests.cpp
  components/eamxx/src/dynamics/homme/homme_grids_manager.cpp
  components/eamxx/src/dynamics/homme/physics_dynamics_remapper.cpp
  components/eamxx/src/dynamics/homme/tests/homme_pd_remap_tests.cpp
  components/eamxx/src/mct_coupling/scream_cxx_f90_interface.cpp
  components/eamxx/src/share/CMakeLists.txt
  components/eamxx/src/share/field/field_layout.cpp
  components/eamxx/src/share/field/field_layout.hpp
  components/eamxx/src/share/grid/abstract_grid.cpp
  components/eamxx/src/share/grid/abstract_grid.hpp
  components/eamxx/src/share/grid/grid_import_export.cpp
  components/eamxx/src/share/grid/grid_import_export.hpp
  components/eamxx/src/share/grid/remap/coarsening_remapper.cpp
  components/eamxx/src/share/grid/remap/coarsening_remapper.hpp
  components/eamxx/src/share/grid/remap/horiz_interp_remapper_base.cpp
  components/eamxx/src/share/grid/remap/horiz_interp_remapper_base.hpp
  components/eamxx/src/share/grid/remap/refining_remapper_p2p.cpp
  components/eamxx/src/share/grid/remap/refining_remapper_p2p.hpp
  components/eamxx/src/share/grid/remap/refining_remapper_rma.cpp
  components/eamxx/src/share/grid/remap/refining_remapper_rma.hpp
  components/eamxx/src/share/grid/remap/vertical_remapper.cpp
  components/eamxx/src/share/grid/remap/vertical_remapper.hpp
  components/eamxx/src/share/property_checks/mass_and_energy_column_conservation_check.cpp
  components/eamxx/src/share/tests/CMakeLists.txt
  components/eamxx/src/share/tests/coarsening_remapper_tests.cpp
  components/eamxx/src/share/tests/common_physics_functions_tests.cpp
  components/eamxx/src/share/tests/field_tests.cpp
  components/eamxx/src/share/tests/grid_import_export_tests.cpp
  components/eamxx/src/share/tests/grid_tests.cpp
  components/eamxx/src/share/tests/refining_remapper_p2p_tests.cpp
  components/eamxx/src/share/tests/refining_remapper_rma_tests.cpp
  components/eamxx/src/share/tests/vertical_remapper_tests.cpp
  components/eamxx/src/share/util/scream_utils.hpp
Labels: infrastructure, AT: AUTOMERGE
