Repository E3SM-Project/scream, pull requests merged in 2023-04, with the labels that each got.

#2249 Use rough topo by default in v1 compsets
  cime_config/tests.py
  components/eamxx/cime_config/config_compsets.xml
  components/eamxx/cime_config/namelist_defaults_scream.xml
Labels: Non-B4B, AT: AUTOMERGE

#2277 Crusher: Update netcdf modules associated with PrgEnv-cray default update.
  cime_config/machines/config_machines.xml
Labels: AT: AUTOMERGE, AT: Skip weaver, AT: Skip blake, crusher-gpu

#2278 Add support for ADIOS
  components/eamxx/src/share/io/CMakeLists.txt
Labels: cmake, B4B, I/O

#2272 Allow user to prescribe atmosphere surface forcing to other components
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/src/control/atmosphere_surface_coupling_exporter.cpp
  components/eamxx/src/control/atmosphere_surface_coupling_exporter.hpp
  components/eamxx/src/mct_coupling/scream_cpl_indices.F90
  components/eamxx/tests/uncoupled/surface_coupling/surface_coupling.cpp
Labels: enhancement, B4B, AT: AUTOMERGE, Surface Coupling

#2281 EAMxx: add chrysalis to machine specs, so we can run test-all-scream
  components/eamxx/scripts/machines_specs.py
Labels: Machine File, AT: AUTOMERGE, AT: Integrate Without Testing

#2287 EAMxx: fix chrysalis cmake machine file for standalone testing
  components/eamxx/cmake/machine-files/chrysalis.cmake
Labels: Machine File, AT: AUTOMERGE, AT: Integrate Without Testing

#2288 EAMxx: add OpenMP/AMD settings to chrysalis mach file
  components/eamxx/cmake/machine-files/chrysalis.cmake
Labels: Machine File, AT: AUTOMERGE, AT: Integrate Without Testing

#2286 fix pointer to device vs. host memory in surface coupling run_impl
  components/eamxx/src/control/atmosphere_surface_coupling_exporter.cpp
  components/eamxx/src/control/atmosphere_surface_coupling_exporter.hpp
Labels: AT: AUTOMERGE, bugfix, Surface Coupling

#2283 add machine configuration information for LC machine ruby
  cime_config/allactive/config_pesall.xml
  cime_config/machines/cmake_macros/intel_ruby.cmake
  cime_config/machines/config_machines.xml
  components/eamxx/cmake/machine-files/ruby-intel.cmake
  components/eamxx/cmake/machine-files/ruby.cmake
  components/eamxx/scripts/machines_specs.py
Labels: B4B, Machine File, AT: AUTOMERGE, AT: Skip Stand-Alone Testing, AT: Skip v1 Testing

#2282 Add output global metadata for 'conventions'
  components/eamxx/src/share/io/scream_output_manager.cpp
Labels: B4B, I/O, AT: AUTOMERGE

#2292 EAMxx: Fix cmake line for srun on Chrysalis.
  components/eamxx/cmake/machine-files/chrysalis.cmake
Labels: cmake, AT: AUTOMERGE, AT: Skip weaver, AT: Skip blake

#2293 Rename docker to docker-scream to avoid conflicts
  cime_config/machines/cmake_macros/gnu_docker-scream.cmake
  components/eamxx/cmake/machine-files/docker-scream.cmake
Labels: AT: AUTOMERGE, AT: Integrate Without Testing

#2203 Ensure output is always flushed when program terminates
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/control/atmosphere_driver.hpp
  components/eamxx/src/mct_coupling/scream_cxx_f90_interface.cpp
Labels: enhancement, I/O

#2294 Add a bit more info to what is printed under SimulationParams
  components/eamxx/src/dynamics/homme/atmosphere_dynamics.cpp
Labels: AT: AUTOMERGE

#2291 Always write rhist files if checkpoint is enabled
  components/eamxx/data/scream_default_output.yaml
  components/eamxx/data/scream_default_remap.yaml
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/dynamics/homme/atmosphere_dynamics.cpp
  components/eamxx/src/physics/nudging/atmosphere_nudging.cpp
  components/eamxx/src/share/atm_process/atmosphere_process.cpp
  components/eamxx/src/share/atm_process/atmosphere_process.hpp
  components/eamxx/src/share/atm_process/atmosphere_process_group.cpp
  components/eamxx/src/share/io/scorpio_input.cpp
  components/eamxx/src/share/io/scorpio_input.hpp
  components/eamxx/src/share/io/scorpio_output.hpp
  components/eamxx/src/share/io/scream_io_utils.hpp
  components/eamxx/src/share/io/scream_output_manager.cpp
  components/eamxx/src/share/io/scream_output_manager.hpp
  components/eamxx/src/share/io/scream_scorpio_interface.F90
  components/eamxx/src/share/io/scream_scorpio_interface.cpp
  components/eamxx/src/share/io/scream_scorpio_interface.hpp
  components/eamxx/src/share/io/scream_scorpio_interface_iso_c2f.F90
  components/eamxx/tests/coupled/dynamics_physics/model_restart/model_restart_output.yaml
Labels: B4B, I/O

#2299 Fix bug related to restart
  components/eamxx/src/share/io/scream_io_utils.hpp
  components/eamxx/src/share/io/scream_output_manager.cpp
Labels: I/O, AT: AUTOMERGE, bugfix

#2297 Use map to avoid issue with grid data corruption
  components/eamxx/src/share/io/scream_output_manager.cpp
Labels: AT: AUTOMERGE, bugfix

#2300 Fix crusher-scream to use new filesystem
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
Labels: AT: AUTOMERGE, AT: Integrate Without Testing

#2302 Add ocnfrac and landfrac to SC importer
  components/eamxx/src/control/atmosphere_surface_coupling_importer.cpp
  components/eamxx/src/mct_coupling/scream_cpl_indices.F90
  components/eamxx/tests/uncoupled/surface_coupling/surface_coupling.cpp
  components/eamxx/tests/uncoupled/surface_coupling/surface_coupling_output.yaml
Labels: enhancement, AT: AUTOMERGE, Surface Coupling

#2308 Nano fix in test-all-scream print message
  components/eamxx/scripts/test_all_scream.py
Labels: AT: AUTOMERGE, AT: Integrate Without Testing, scripts

#2312 Crusher: Use GPU buffers in MPI.
  cime_config/machines/cmake_macros/crayclang-scream_crusher-scream-gpu.cmake
  cime_config/machines/config_machines.xml
Labels: AT: Integrate Without Testing, CIME, crusher-gpu

#2313 Crusher: Work around tcmalloc issue.
  cime_config/machines/config_machines.xml
Labels: AT: Integrate Without Testing, crusher-gpu

#2303 Update eamxx docker image for latest CIME docker
  cime_config/machines/cmake_macros/gnu_docker-scream.cmake
  cime_config/machines/config_machines.xml
  components/eamxx/cmake/machine-files/docker-scream.cmake
  components/eamxx/docker/Dockerfile
  components/eamxx/docker/README.md
Labels: AT: AUTOMERGE

#2314 Crusher: Disable OpenACC in all builds to work around compile errors …
  cime_config/machines/cmake_macros/crayclang-scream_crusher-scream-gpu.cmake
Labels: AT: Integrate Without Testing, crusher-gpu
