Repository E3SM-Project/scream, pull requests merged in 2024-11, with the labels that each got.

#3077 EAMxx: add support for ghci-snl-cuda in standalone testing
  .github/actions/test-all-scream/action.yml
  .github/workflows/eamxx-scripts-tests.yml
  .github/workflows/eamxx-standalone-testing.yml
  .github/workflows/eamxx-v1-testing.yml
  components/eamxx/cmake/machine-files/ghci-snl-cuda.cmake
  components/eamxx/scripts/machines_specs.py
  components/eamxx/src/diagnostics/tests/wind_speed_tests.cpp
  components/eamxx/src/physics/rrtmgp/tests/generate_baseline.cpp
Labels: AT: WIP, AT: workflow change approved

#3090 Allow to generate ALL baselines at ones for eamxx
  .github/workflows/eamxx-standalone-testing.yml
  .github/workflows/eamxx-v1-testing.yml
Labels: testing, AT: workflow change approved, workflows

#3086 Add alias options for frequency units of output.
  components/eamxx/src/share/io/scream_io_control.hpp
  components/eamxx/src/share/io/scream_output_manager.cpp
Labels: I/O

#3100 Always run eamxx workflows on PRs
  .github/actions/check-skip-labels/README.md
  .github/actions/check-skip-labels/action.yml
  .github/workflows/eamxx-sa-testing.yml
  .github/workflows/eamxx-scripts-tests.yml
  .github/workflows/eamxx-v1-testing.yml
Labels: testing, CI: workflow change approved, workflows

#3102 Workflows: nano-fixes to eamxx workflows
  .github/workflows/eamxx-sa-testing.yml
  .github/workflows/eamxx-scripts-tests.yml
  .github/workflows/eamxx-v1-testing.yml
Labels: bugfix, CI: workflow change approved, workflows

#3103 Fix query-scream util script
  components/eamxx/scripts/query_scream.py
Labels: CI: skip eamxx-all

#3095 MAM4xx: Fixing the ne120 case for the microphysics interface.
  cime_config/tests.py
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/cime_config/testdefs/testmods_dirs/scream/mam4xx/aero_microphysics/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/scream/mam4xx/remap_emiss_ne4_ne30/shell_commands
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.hpp
  components/eamxx/src/physics/mam/readfiles/tracer_reader_utils.hpp
  components/eamxx/tests/single-process/mam/aero_microphys/input.yaml
Labels: EAGLES, MAM

#3091 Add ilev as a default output in all EAMxx output streams
  components/eamxx/src/dynamics/homme/homme_grids_manager.cpp
  components/eamxx/src/share/grid/mesh_free_grids_manager.cpp
  components/eamxx/src/share/io/scream_io_utils.hpp
  components/eamxx/src/share/io/scream_output_manager.cpp
Labels: New Variables, I/O

#3106 Fix logic to execute/skip eamxx testing workflows
  .github/workflows/eamxx-sa-testing.yml
  .github/workflows/eamxx-scripts-tests.yml
  .github/workflows/eamxx-v1-testing.yml
Labels: CI: workflow change approved, workflows

#3107 Quick fix for baseline generation
  components/eamxx/src/physics/p3/CMakeLists.txt
  components/eamxx/src/physics/p3/tests/CMakeLists.txt
Labels: CI: skip eamxx-all, CI: automerge

#3110 Fixup small kernel situation
  components/eamxx/src/physics/p3/disp/p3_check_values_impl_disp.cpp
  components/eamxx/src/physics/p3/disp/p3_cloud_sed_impl_disp.cpp
  components/eamxx/src/physics/p3/disp/p3_rain_sed_impl_disp.cpp
  components/eamxx/src/physics/p3/tests/CMakeLists.txt
Labels: CI: automerge

#3114 Fixes for p3 tests CMake settings
  components/eamxx/src/physics/p3/tests/CMakeLists.txt
Labels: CI: Skip weaver, CI: skip eamxx-v1, CI: automerge

#3116 Minor changes for our CUDA testing machine/workflows
  .github/workflows/eamxx-sa-coverage.yml
  .github/workflows/eamxx-sa-sanitizer.yml
  .github/workflows/eamxx-sa-testing.yml
  components/eamxx/scripts/machines_specs.py
Labels: testing, CI: workflow change approved, workflows

#3094 Add git-hash information to EAMxx and in the output metadata
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/control/atmosphere_driver.hpp
  components/eamxx/src/mct_coupling/atm_comp_mct.F90
  components/eamxx/src/mct_coupling/scream_cxx_f90_interface.cpp
  components/eamxx/src/mct_coupling/scream_f2c_mod.F90
Labels: I/O

#3117 Fetch changed files from PR in chunks
  .github/workflows/eamxx-sa-sanitizer.yml
  .github/workflows/eamxx-sa-testing.yml
  .github/workflows/eamxx-scripts-tests.yml
  .github/workflows/eamxx-v1-testing.yml
Labels: bugfix, CI: workflow change approved, workflows

#3112 Add option to prescribe an invariant solar constant
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/src/physics/rrtmgp/eamxx_rrtmgp_process_interface.cpp
  components/eamxx/src/physics/rrtmgp/eamxx_rrtmgp_process_interface.hpp
Labels: BFB, radiation, DP-SCREAM, CI: automerge

#3111 DPxx latitude relative error checking fix
  components/eamxx/src/share/iop/intensive_observation_period.cpp
Labels: BFB, bugfix, DP-SCREAM, CI: automerge

#3105 Add standard name metadata to most EAMxx output variables
  components/eamxx/src/share/io/scorpio_output.cpp
  components/eamxx/src/share/io/scorpio_output.hpp
  components/eamxx/src/share/io/scream_io_utils.hpp
Labels: I/O, CI: automerge
