Repository E3SM-Project/scream, pull requests merged in 2024-10, with the labels that each got.

#2969 Move Frontier build to gfortran and latest rocm
  cime_config/machines/Depends.crusher-gpu.crayclang.cmake
  cime_config/machines/cmake_macros/amdclang_crusher.cmake
  cime_config/machines/cmake_macros/amdclanggpu_crusher.cmake
  cime_config/machines/cmake_macros/crayclang-scream_crusher-scream-cpu.cmake
  cime_config/machines/cmake_macros/crayclang-scream_crusher-scream-gpu.cmake
  cime_config/machines/cmake_macros/crayclang-scream_crusher-scream.cmake
  cime_config/machines/cmake_macros/crayclang_crusher.cmake
  cime_config/machines/cmake_macros/crayclanggpu_crusher.cmake
  cime_config/machines/cmake_macros/craygnuamdgpu.cmake
  cime_config/machines/cmake_macros/gnu_crusher.cmake
  cime_config/machines/cmake_macros/gnugpu_crusher.cmake
  cime_config/machines/config_machines.xml
  cime_config/machines/syslog.crusher
  components/eamxx/CMakeLists.txt
  components/eamxx/cmake/machine-files/frontier-scream-gpu.cmake
  components/eamxx/src/physics/p3/disp/p3_main_impl_part2_disp.cpp
Labels: Machine File, AT: RETEST, AT: AUTOMERGE, AT: Integrate Without Testing, AT: PRE-TEST INSPECTED, Frontier

#2986 Fix bug related to name clashing in output streams
  components/eamxx/src/physics/nudging/tests/nudging_tests.cpp
  components/eamxx/src/share/io/scream_io_utils.cpp
  components/eamxx/src/share/io/scream_io_utils.hpp
  components/eamxx/src/share/io/scream_output_manager.cpp
  components/eamxx/src/share/io/scream_output_manager.hpp
  components/eamxx/src/share/io/tests/io_utils.cpp
  components/eamxx/tests/multi-process/dynamics_physics/mam/homme_shoc_cld_mam_aci_p3_mam_optics_rrtmgp_mam_drydep/output.yaml
  components/eamxx/tests/multi-process/dynamics_physics/mam/homme_shoc_cld_p3_mam_optics_rrtmgp/output.yaml
  components/eamxx/tests/multi-process/physics_only/mam/optics_rrtmgp/output.yaml
  components/eamxx/tests/multi-process/physics_only/shoc_p3_nudging/CMakeLists.txt
  components/eamxx/tests/multi-process/physics_only/shoc_p3_nudging/input_nudging.yaml
  components/eamxx/tests/multi-process/physics_only/shoc_p3_nudging/output.yaml
  components/eamxx/tests/multi-process/physics_only/shoc_p3_nudging/output_remapped.yaml
  components/eamxx/tests/single-process/mam/optics/output.yaml
Labels: I/O, AT: AUTOMERGE, bugfix, code robustness

#3031 AD Debug Option to set a FAIL point
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/src/control/atmosphere_driver.cpp
Labels: enhancement, AT: AUTOMERGE, Atmosphere Driver

#3024 Fix field sync for subfields
  components/eamxx/src/share/field/field.cpp
  components/eamxx/src/share/field/field.hpp
  components/eamxx/src/share/field/field_impl.hpp
  components/eamxx/src/share/grid/remap/coarsening_remapper.cpp
  components/eamxx/src/share/tests/field_tests.cpp
Labels: infrastructure, AT: AUTOMERGE, bugfix, performance

#3027 Allow non-contiguous set of cpus in test-all-scream
  components/eamxx/scripts/test_all_scream.py
Labels: enhancement, AT: AUTOMERGE, scripts, code usability

#3034 move P3_Constants to P3Runtime
  components/eamxx/src/physics/p3/disp/p3_ice_sed_impl_disp.cpp
  components/eamxx/src/physics/p3/disp/p3_main_impl_disp.cpp
  components/eamxx/src/physics/p3/disp/p3_main_impl_part1_disp.cpp
  components/eamxx/src/physics/p3/disp/p3_main_impl_part2_disp.cpp
  components/eamxx/src/physics/p3/disp/p3_main_impl_part3_disp.cpp
  components/eamxx/src/physics/p3/disp/p3_rain_sed_impl_disp.cpp
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.cpp
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.hpp
  components/eamxx/src/physics/p3/eamxx_p3_run.cpp
  components/eamxx/src/physics/p3/impl/p3_autoconversion_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_cldliq_imm_freezing_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_cloud_rain_acc_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_dsd2_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_ice_collection_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_ice_nucleation_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_ice_sed_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_main_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_main_impl_part1.hpp
  components/eamxx/src/physics/p3/impl/p3_main_impl_part2.hpp
  components/eamxx/src/physics/p3/impl/p3_main_impl_part3.hpp
  components/eamxx/src/physics/p3/impl/p3_rain_imm_freezing_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_rain_sed_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_rain_self_collection_impl.hpp
  components/eamxx/src/physics/p3/p3_functions.hpp
  components/eamxx/src/physics/p3/p3_functions_f90.cpp
  components/eamxx/src/physics/p3/p3_functions_f90.hpp
  components/eamxx/src/physics/p3/tests/p3_autoconversion_unit_tests.cpp
  components/eamxx/src/physics/p3/tests/p3_cldliq_imm_freezing_unit_tests.cpp
  components/eamxx/src/physics/p3/tests/p3_cloud_rain_acc_unit_tests.cpp
  components/eamxx/src/physics/p3/tests/p3_dsd2_unit_tests.cpp
  components/eamxx/src/physics/p3/tests/p3_ice_collection_unit_tests.cpp
  components/eamxx/src/physics/p3/tests/p3_ice_nucleation_unit_tests.cpp
  components/eamxx/src/physics/p3/tests/p3_ice_sed_unit_tests.cpp
  components/eamxx/src/physics/p3/tests/p3_rain_imm_freezing_unit_tests.cpp
  components/eamxx/src/physics/p3/tests/p3_rain_sed_unit_tests.cpp
  components/eamxx/src/physics/p3/tests/p3_rain_self_collection_tests.cpp
  components/eamxx/src/physics/share/physics_constants.hpp
Labels: code quality, BFB, p3, AT: AUTOMERGE, code cleanup

#3017 Add the California Regionally Refined Mesh (RRM)
  cime_config/config_grids.xml
  components/eam/bld/config_files/horiz_grid.xml
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  driver-mct/cime_config/config_component_e3sm.xml
Labels: BFB, AT: AUTOMERGE, RRM-SCREAM

#3035 add runtime flag for p3 ice production
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/src/physics/p3/disp/p3_main_impl_disp.cpp
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.cpp
  components/eamxx/src/physics/p3/impl/p3_main_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_main_impl_part2.hpp
  components/eamxx/src/physics/p3/p3_functions.hpp
Labels: BFB, p3, AT: AUTOMERGE, namelist

#3029 Add explicit Core/24.00 module to crayclang-scream for Frontier.
  cime_config/machines/config_machines.xml
Labels: Machine File, AT: Skip Stand-Alone Testing, AT: Skip v1 Testing

#3037 p3 auto, accr, scol runtime params
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.cpp
  components/eamxx/src/physics/p3/impl/p3_autoconversion_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_cloud_rain_acc_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_rain_self_collection_impl.hpp
  components/eamxx/src/physics/p3/p3_functions.hpp
Labels: BFB, p3, AT: AUTOMERGE, namelist

#3040 Add user docs for DP and RRM
  components/eamxx/docs/user/dp_eamxx.md
  components/eamxx/docs/user/rrm_eamxx.md
Labels: AT: AUTOMERGE, documentation, AT: Skip Stand-Alone Testing, AT: Skip v1 Testing

#3038 Small mods in test-all-scream related to baseline generation
  components/eamxx/scripts/test_all_scream.py
Labels: scripts, AT: Skip v1 Testing, code usability

#3046 Initial Kokkos Dev Documentation
  components/eamxx/docs/developer/kokkos_ekat.md
Labels: AT: Integrate Without Testing

#3005 I/O: Split OutputManager creation from setup
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/control/atmosphere_driver.hpp
  components/eamxx/src/dynamics/homme/tests/dyn_grid_io.cpp
  components/eamxx/src/mct_coupling/atm_comp_mct.F90
  components/eamxx/src/mct_coupling/scream_cxx_f90_interface.cpp
  components/eamxx/src/mct_coupling/scream_f2c_mod.F90
  components/eamxx/src/physics/nudging/tests/nudging_tests_helpers.hpp
  components/eamxx/src/python/libpyscream/pyatmproc.hpp
  components/eamxx/src/share/io/scream_output_manager.cpp
  components/eamxx/src/share/io/scream_output_manager.hpp
  components/eamxx/src/share/io/tests/io_basic.cpp
  components/eamxx/src/share/io/tests/io_diags.cpp
  components/eamxx/src/share/io/tests/io_filled.cpp
  components/eamxx/src/share/io/tests/io_monthly.cpp
  components/eamxx/src/share/io/tests/io_packed.cpp
  components/eamxx/src/share/io/tests/io_remap_test.cpp
  components/eamxx/src/share/io/tests/io_se_grid.cpp
  components/eamxx/src/share/io/tests/output_restart.cpp
  components/eamxx/src/share/tests/eamxx_time_interpolation_tests.cpp
  components/eamxx/tests/multi-process/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_pg2_dp/homme_shoc_cld_spa_p3_rrtmgp_pg2_dp.cpp
  components/eamxx/tests/single-process/surface_coupling/surface_coupling.cpp
Labels: I/O, AT: AUTOMERGE

#3044 Update EAMxx docs and improve help formatters
  components/eamxx/docs/developer/ci_nightly.md
  components/eamxx/docs/developer/cime_testing.md
  components/eamxx/docs/developer/standalone_testing.md
  components/eamxx/scripts/atmchange
  components/eamxx/scripts/atmquery
  components/eamxx/scripts/check-hashes-ers
  components/eamxx/scripts/check-input
  components/eamxx/scripts/check-tendencies
  components/eamxx/scripts/cime-nml-tests
  components/eamxx/scripts/compare-nc-files
  components/eamxx/scripts/eamxx-params-docs-autogen
  components/eamxx/scripts/gather-all-data
  components/eamxx/scripts/gen-boiler
  components/eamxx/scripts/git-merge-ref
  components/eamxx/scripts/machines_specs.py
  components/eamxx/scripts/nc-file-init
  components/eamxx/scripts/perf-analysis
  components/eamxx/scripts/plot
  components/eamxx/scripts/populate-nc-file
  components/eamxx/scripts/query-cime
  components/eamxx/scripts/query-scream
  components/eamxx/scripts/scream-env-cmd
  components/eamxx/scripts/scripts-ctest-driver
  components/eamxx/scripts/scripts-tests
  components/eamxx/scripts/test-all-scream
  components/eamxx/scripts/utils.py
Labels: AT: AUTOMERGE, AT: Integrate Without Testing

#3047 This commit removes a docker folder in eamxx no longer in use.
  components/eamxx/docker/Dockerfile
  components/eamxx/docker/README.md
  components/eamxx/docker/requirements.txt
Labels: AT: AUTOMERGE, AT: Integrate Without Testing, code cleanup

#3049 clarify P3Runtime struct defaults
  components/eamxx/src/physics/p3/p3_functions.hpp
Labels: BFB, p3, AT: AUTOMERGE

#3045 Add some developer documentation
  components/eamxx/docs/developer/field.md
  components/eamxx/docs/developer/processes.md
  components/eamxx/src/share/grid/abstract_grid.hpp
Labels: documentation

#3052 A couple of fixes and an addition for IO
  components/eamxx/src/share/io/scream_io_file_specs.hpp
  components/eamxx/src/share/io/scream_output_manager.cpp
  components/eamxx/src/share/io/tests/io_monthly.cpp
Labels: enhancement, I/O, AT: AUTOMERGE, bugfix

#3054 change RRM docs to point from scream-docs to eamxx-scripts
  components/eamxx/docs/user/rrm_eamxx.md
Labels: AT: AUTOMERGE, documentation, AT: Integrate Without Testing

#3055 add EAMxx initial condition for ne4 with L128
  components/eamxx/cime_config/namelist_defaults_scream.xml
Labels: BFB, AT: AUTOMERGE

#3056 EAMXX: inside a SLURM job get cpu count from SLURM env var
  components/eamxx/scripts/machines_specs.py
  components/eamxx/scripts/test_all_scream.py
  components/eamxx/scripts/utils.py
Labels: testing, AT: AUTOMERGE, scripts, AT: Skip v1 Testing

#3058 EAMxx/SHOC: Work around a GPU issue.
  cime_config/tests.py
  components/eamxx/src/physics/shoc/eamxx_shoc_process_interface.hpp
  components/eamxx/src/share/atm_process/atmosphere_process.hpp
  components/eamxx/src/share/atm_process/atmosphere_process_hash.cpp
Labels: bugfix, AT: PRE-TEST INSPECTED, GPU

#3057 Fix type in orbital parameter read
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/src/physics/rrtmgp/eamxx_rrtmgp_process_interface.cpp
  components/eamxx/tests/single-process/rrtmgp/input_unit.yaml
Labels: radiation, AT: AUTOMERGE, bugfix, AT: Skip weaver, AT: Skip v1 Testing

#3059 Fixes a bug when copying grid data for a geo data of scalar type.
  components/eamxx/src/share/field/field_impl.hpp
  components/eamxx/src/share/grid/remap/coarsening_remapper.cpp
Labels: AT: AUTOMERGE, bugfix, DP-SCREAM

#3063 Use add_tracer() shortcut for adding a field to tracers group
  components/eamxx/src/control/atmosphere_surface_coupling_exporter.cpp
  components/eamxx/src/dynamics/homme/eamxx_homme_process_interface.cpp
  components/eamxx/src/physics/cld_fraction/eamxx_cld_fraction_process_interface.cpp
  components/eamxx/src/physics/cosp/eamxx_cosp.cpp
  components/eamxx/src/physics/mam/eamxx_mam_aci_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_constituent_fluxes_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_dry_deposition_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_optics_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_wetscav_process_interface.cpp
  components/eamxx/src/physics/ml_correction/eamxx_ml_correction_process_interface.cpp
  components/eamxx/src/physics/nudging/eamxx_nudging_process_interface.cpp
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.cpp
  components/eamxx/src/physics/shoc/eamxx_shoc_process_interface.cpp
  components/eamxx/src/physics/tms/eamxx_tms_process_interface.cpp
  components/eamxx/src/share/atm_process/atmosphere_process.hpp
Labels: AT: AUTOMERGE

#3060 Fix ghci snl machine settings
  cime_config/machines/config_machines.xml
  components/eamxx/cmake/machine-files/ghci-snl-cpu.cmake
  components/eamxx/cmake/machine-files/ghci-snl-openmp.cmake
  components/eamxx/scripts/machines_specs.py
  components/eamxx/src/physics/p3/tests/p3_find_unit_tests.cpp
Labels: Machine File, AT: AUTOMERGE

#3061 Add workflow files for eamxx standalone and v1 testing
  .github/actions/test-all-scream/README.md
  .github/actions/test-all-scream/action.yml
  .github/workflows/eamxx-scripts-tests.yml
  .github/workflows/eamxx-standalone-testing.yml
  .github/workflows/eamxx-v1-testing.yml
Labels: testing, AT: Integrate Without Testing

#3050 Adds capability to read fractional land use file in MAM4 dry deposition
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/cime_config/testdefs/testmods_dirs/scream/mam4xx/aci/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/scream/mam4xx/drydep/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/scream/mam4xx/optics/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/scream/mam4xx/srf_online_emiss_constituent_fluxes/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/scream/mam4xx/wetscav/shell_commands
  components/eamxx/src/physics/mam/eamxx_mam_dry_deposition_functions.hpp
  components/eamxx/src/physics/mam/eamxx_mam_dry_deposition_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_dry_deposition_process_interface.hpp
  components/eamxx/src/physics/mam/readfiles/fractional_land_use.hpp
  components/eamxx/src/physics/mam/readfiles/fractional_land_use_impl.hpp
  components/eamxx/tests/multi-process/dynamics_physics/mam/homme_shoc_cld_mam_aci_p3_mam_optics_rrtmgp_mam_drydep/CMakeLists.txt
  components/eamxx/tests/multi-process/dynamics_physics/mam/homme_shoc_cld_mam_aci_p3_mam_optics_rrtmgp_mam_drydep/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/shoc_mam4_drydep/CMakeLists.txt
  components/eamxx/tests/multi-process/physics_only/mam/shoc_mam4_drydep/input.yaml
  components/eamxx/tests/single-process/mam/drydep/CMakeLists.txt
  components/eamxx/tests/single-process/mam/drydep/input.yaml
  components/homme/src/theta-l/share/prim_state_mod.F90
Labels: namelist, input file, EAGLES, MAM

#3066 Change output specs for mam tests
  components/eamxx/tests/multi-process/dynamics_physics/CMakeLists.txt
  components/eamxx/tests/multi-process/dynamics_physics/mam/CMakeLists.txt
  components/eamxx/tests/multi-process/dynamics_physics/mam/homme_shoc_cld_mam_aci_p3_mam_optics_rrtmgp_mam_drydep/output.yaml
  components/eamxx/tests/multi-process/dynamics_physics/mam/homme_shoc_cld_p3_mam_optics_rrtmgp/output.yaml
  components/eamxx/tests/multi-process/dynamics_physics/mam/homme_shoc_cld_spa_p3_rrtmgp_mam4_wetscav/output.yaml
Labels: cmake, AT: AUTOMERGE, bugfix

#3065 Add support for branch run type in EAMxx
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/control/atmosphere_driver.hpp
  components/eamxx/src/dynamics/homme/eamxx_homme_fv_phys.cpp
  components/eamxx/src/dynamics/homme/eamxx_homme_iop.cpp
  components/eamxx/src/dynamics/homme/eamxx_homme_process_interface.cpp
  components/eamxx/src/dynamics/homme/eamxx_homme_process_interface.hpp
  components/eamxx/src/mct_coupling/atm_comp_mct.F90
  components/eamxx/src/mct_coupling/scream_cxx_f90_interface.cpp
  components/eamxx/src/mct_coupling/scream_f2c_mod.F90
  components/eamxx/src/physics/mam/srf_emission_impl.hpp
  components/eamxx/src/share/io/scream_output_manager.cpp
  components/eamxx/src/share/io/scream_output_manager.hpp
  components/eamxx/src/share/scream_types.hpp
  components/eamxx/src/share/util/eamxx_fv_phys_rrtmgp_active_gases_workaround.cpp
  components/eamxx/src/share/util/eamxx_fv_phys_rrtmgp_active_gases_workaround.hpp
  components/eamxx/tests/multi-process/dynamics_physics/model_restart/input_initial.yaml
  components/eamxx/tests/multi-process/dynamics_physics/model_restart/input_restarted.yaml
Labels: AT: AUTOMERGE, CIME

#3069 EAMxx: refactor machine_specs.py file
  components/eamxx/cmake/machine-files/ghci-snl.cmake
  components/eamxx/scripts/gather_all_data.py
  components/eamxx/scripts/jenkins/ghci-snl-cpu_setup
  components/eamxx/scripts/machines_specs.py
  components/eamxx/scripts/scream-env-cmd
  components/eamxx/scripts/scripts-tests
  components/eamxx/scripts/scripts_ctest_driver.py
  components/eamxx/scripts/test_all_scream.py
  components/eamxx/scripts/test_factory.py
  components/eamxx/scripts/utils.py
Labels: AT: AUTOMERGE, scripts, AT: Skip v1 Testing

#3062 Adds a test to invoke all MAM4xx processes for AT
  cime_config/tests.py
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/cime_config/testdefs/testmods_dirs/scream/mam4xx/all_mam4xx_procs/shell_commands
Labels: testing, AT: AUTOMERGE, AT: Skip weaver, AT: Skip Stand-Alone Testing, EAGLES, MAM

#3070 enable outputing rank-0 fields in IO
  components/eamxx/src/share/io/scorpio_output.cpp
Labels: I/O, AT: AUTOMERGE

#3075 Workflows: add standalone nightly testing and beef up v1 testing
  .github/workflows/eamxx-standalone-testing.yml
  .github/workflows/eamxx-v1-testing.yml
  components/eamxx/scripts/jenkins/jenkins_common_impl.sh
Labels: AT: workflow change approved

#3074 Fix some issues gentle courtesy of the machine specs refactor PR
  components/eamxx/scripts/machines_specs.py
  components/eamxx/scripts/scream-env-cmd
Labels: AT: RETEST, scripts, AT: skip eamxx-v1

#3079 Change input file for standalone mam test
  components/eamxx/tests/multi-process/dynamics_physics/mam/homme_shoc_cld_spa_p3_rrtmgp_mam4_wetscav/input.yaml
Labels: testing, AT: skip eamxx-all

#3080 Check protocol availability in check-input
  components/eamxx/scripts/check_input.py
Labels: bugfix, scripts

#3081 Improve eamxx workflow files
  .github/actions/check-skip-labels/README.md
  .github/actions/check-skip-labels/action.yml
  .github/actions/show-workflow-trigger/README.md
  .github/actions/show-workflow-trigger/action.yml
  .github/workflows/eamxx-scripts-tests.yml
  .github/workflows/eamxx-standalone-testing.yml
  .github/workflows/eamxx-v1-testing.yml
Labels: AT: workflow change approved
